
<style type="text/css">
    .guide-template-2 {
        width: 206px;
        background-color: #FFFFFF;
        border: 2px solid gray;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        padding: 2px;
        font-size: medium;
    }

    /* guide head */
    .guide-template-2 .guide-head {
        background-color:#DBDABD;
        color: #000000;
        font-size: small;
        font-weight: bold;
        text-align: center;
    }

    .guide-template-2 .guide-head .guide-name {
        color: white;
        font-size:medium;
    }

    .guide-template-2 .guide-head .guide-description {
    }

    .guide-template-2 .guide-head .guide-dow {
        /*font-size: medium;*/
    }


    /* tips, main part */
    .guide-template-2 .tip-handle {
        cursor: pointer;
        background-color: #999966;
        border: 1px solid white;
        padding: 3px;
    }
    .guide-template-2 .guide-tip-selected .tip-handle {
        background-color: #999966;
        cursor: auto;
    }

    .guide-template-2 .guide-tip-selected .guide-tip-body {
        display: block !important;
        /*overflow: hidden;*/
    }
</style>









<!-- main guide container -->
<div class="guide-template-2">
  <!--header-->
  <div class="guide-head">
    <div class="guide-name">
      <a href="<%=WEB_ROOT%>/guides/<%= @calendar.id %>"><%= @calendar.name %></a>
    </div>
    <div class="guide-description">Travel tips for <%= @calendar.location.name %></div>
    <div class="guide-dow">Day <%= @day + 1 %></div>
  </div>

  <!--tips-->
  <div class="guide-tips">
    <% prev_cond = nil %>
    <% @calendar.conditions.each do |condition| %>
        <% @tips[@day][condition.id].each do |tip| %>

        <div class="guide-tip <%= prev_cond.nil? ? 'guide-tip-selected' : '' %>" tip_id="<%=tip.id%>">
          <!--create header to click-->
          <div class="tip-handle" onclick="switch_tips(this);">
            <%= tip.condition.full_name %>
          </div>

          <%= render :partial => 'display/tip/medium', :locals => {:tip => tip} %>
        </div>

        <% prev_cond = tip.condition %>
        <% end %>
    <% end %>
  </div>

  <!--footer-->
  <%= render :partial => 'display/footer/normal', :locals => {:guide => @calendar, :style => 'medium'} %>

</div>


<script type="text/javascript">
    function switch_tips(clicked) {
        var newTip = $(clicked).parents('.guide-tip');
        var oldTip = newTip.parent().find('.guide-tip-selected');
        oldTip.find('.guide-tip-body').slideUp(500);
        newTip.find('.guide-tip-body').slideDown(500);
        oldTip.removeClass('guide-tip-selected');
        newTip.addClass('guide-tip-selected');
    }
</script>
