
<style type="text/css">
  .guide-template-full {
      background-color:azure;
      color:black;
  }

  .guide-template-full a {
      color: blue;
  }


  /*head*/
  .guide-template-full .guide-head {
      text-align: center;
  }

  /* tip labels */
  .guide-template-full .weekday-label {
      height: 25px;
      padding:5px;
      text-align:center;
  }
  .guide-template-full .condition-label {
      width: 50px;
      padding:10px;
      font-weight: bold;
  }
</style>



<table class="guide-template-full" border="0" cellpadding="0" cellspacing="0">
  <thead>
  
  <tr>
    <th class="guide-head" colspan="8">
      <div class="guide-name">
        <a href="<%=WEB_ROOT%>/guides/<%= @calendar.id %>"><%= @calendar.name %></a>
      </div>
      <div class="guide-description">Travel tips for <%= @calendar.location.name %></div>
    </th>
  </tr>

  <tr>
    <th></th>
    <% @weekdays.each do |day| %>
        <th class="weekday-label">
          <%= day.name %>
        </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @calendar.conditions.each do |condition| %>
      <% tips = @calendar.tips.select { |tip| tip.condition_id == condition.id } %>
      <% if tips.length > 0 %>
          <tr>
            <td class="condition-label"><%= condition.full_name %></td>
            <% @weekdays.each do |day| %>
                <% tip = tips.find { |tip| tip.weekday_id == day.id } %>
                <td>
                      <%= render :partial => 'display/tip/small', :locals => {:tip => tip} %>
                </td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
  </tbody>

  <tfoot>
  <tr>
    <th></th>
    <th colspan="7" class="guide-footer">
      <%= render :partial => 'display/footer/normal', :locals => {:guide => @calendar, :style => 'flat', :show_week_navigation => false} %>
    </th>
  </tr>
  </tfoot>
</table>