<!--condition bar takes additional space-->
<% has_condition_bar = @tips[@day].select { |condition_id, tips| tips.size > 0 && !Condition.find(condition_id).group.nil? }.size > 0 %>

<style type="text/css">
    .guide-template-1 {
        background-color: #FFFFFF;
        border: 2px solid gray;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        padding: 2px;
        display: inline-block;
        /*overflow: hidden;*/
        white-space: nowrap;
        font-size: small;
    }

    /* guide head */
    .guide-template-1 .guide-head {
        background-color: #DBDABD;
        color: #999999;
        font-size: medium;
        font-weight: bold;
        text-align: center;
        width: 120px;
        display: inline-block;
        vertical-align: top;
        height: 100%;
        white-space: normal;
        overflow: hidden;
    }

    .guide-template-1 .guide-head .guide-name {
        color: white;
        text-transform:capitalize;        
    }

    .guide-template-1 .guide-head .guide-description {
    }

    .guide-template-1 .guide-head .guide-dow {
    }

    .guide-template-1 .condition-bar {
        height: 20px;
    }

    .guide-template-1 .condition-group {
        background-color: #cccccc;
        text-align: center;
        margin: 0 1px;
        padding: 0;
        border: 0;
    }

    /* tips, main part */
    .guide-template-1 .guide-tips {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        position: relative;
        white-space: normal;
    }

</style>









<!-- main guide container -->
<div class="guide-template-1" style="height:<%= has_condition_bar ? '124px' : '106px' %>">
  <!--header-->
  <div class="guide-head">
    <div class="guide-name">
      <a href="<%= WEB_ROOT %>/guides/<%= @calendar.id %>"><%= @calendar.name %></a>
    </div>
    <div class="guide-head">Day <%= @day + 1 %><BR>Travel tips for <%= @calendar.location.name %></div>
    
  </div>

  <!--tips-->
  <div class="guide-tips">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>

      <% if has_condition_bar %>
          <tr class="condition-bar">
            <% @tips[@day].map { |condition_id, tips| Condition.find(condition_id).group }.uniq.each do |group| %>
                <% columns = @tips[@day].map { |condition_id, tips| Condition.find(condition_id).group == group ? tips : [] }.flatten.length %>
                <% if columns > 0 %>
                <td colspan="<%= columns %>">
                  <div class="condition-group">
                    <%= group %>
                  </div>
                </td>
                <% end %>
            <% end %>
          </tr>
      <% end %>

      <tr>
        <% @calendar.conditions.each do |condition| %>
        <% @tips[@day][condition.id].each do |tip| %>
            <td>
              <%= render :partial => 'display/tip/small', :locals => {:tip => tip} %>
            </td>
        <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>


  </div>

  <!--footer-->
  <%= render :partial => 'display/footer/normal', :locals => {:guide => @calendar, :style => 'small'} %>
</div>




