<script type="text/javascript" src="/jquery/jquery.qtip-1.0.0-rc3.js"></script>
<link href="/public.css" media="screen" rel="stylesheet" type="text/css" />




<table width="160" border="0" cellpadding="5" cellspacing="0" bordercolor="#999900">
      <tr>

            <td bgcolor="#DBDABD">
              <span class="subheadtablemed"><%= @calendar.name %>'</span><BR><span class="headtextdarker"> travel tips for a <%= @weather_forecast.original_condition %>  <%= @dow.name %>:</span>
            </td>
          </tr>
 
                  <% @tips.each do |show_place| %>
      <% tip = show_place.tip %>



                <tr>

                     
        <td  bgcolor="ffffff" class="tip" id="tip_<%= show_place.id %>">
          <% if tip.advertisement %>
              <div align="right" style="color:gray;">advertisement</div>
          <% end %>
          <span class="textgray" ><%= show_place.condition.name %>:</span>
            <% if tip.url != '' -%>
                <a href="/guides/<%= @calendar.id %>/tips/<%= tip.id %>/url">
                  <span class="headtextdarker" ><%= tip.name %></span>
                </a>
            <% else -%>
                <span class="headtextdarker" ><%= tip.name %></span>
            <% end -%>
          
          
        </td>   </tr><% end %> 
                <tr>
                  <td  bgcolor="ffffff">
                    <span class="headtextdarkersmall" align="center">
                      <a href="javascript:_cal.render_calendar('<%= params[:target_id] %>', <%= @calendar.id %>, 'tiny', <%= @day - 1 %>);"><img src="/images/arrowleft.gif" alt="View <%= @dow.prev.name %>" width="11" height="12" /></a>
                      <%= @dow.name %> <a href="javascript:_cal.render_calendar('<%= params[:target_id] %>', <%= @calendar.id %>, 'tiny', <%= @day + 1 %>);"><img src="/images/arrowright.gif" alt="View <%= @dow.next.name %>" width="11" height="12" /></a></span>
                  </td>
                </tr>

          <tr>
            <td bgcolor="#DBDABD">
              <div class="starbar">
      <div class="outer">
        <div class="inner" style="width:<%=Integer(@rating*20)%>px">
          <a class="s5" onclick="_cal.vote(this);" title="VOTE 5"></a>
          <a class="s4" onclick="_cal.vote(this);" title="VOTE 4"></a>
          <a class="s3" onclick="_cal.vote(this);" title="VOTE 3"></a>
          <a class="s2" onclick="_cal.vote(this);" title="VOTE 2"></a>
          <a class="s1" onclick="_cal.vote(this);" title="VOTE 1"></a>
        </div>
      </div>
    </div> <span class="headtextdarkersmall"> Travel guide by <%= link_to @calendar.user.name, show_user_path(:id => @calendar.user.id) %>
       <!-- || <%= link_to 'Advertise', :controller => 'calendars', :action => 'advertise', :id => @calendar.id %>--><BR> Powered by <a = href="http://www.guiderer.com">WWW.GUIDERER.COM</a><br>
      </span>
            </td>
          </tr>
        </table>
              




     


<script type="text/javascript">
    $(document).ready(function() {
        $('td.tip').each(function() {
            $(this).qtip({
                content: $('#' + this.id + ' .full_tip').html(),
                style:  {
                    name: 'cream',
                    padding: '3px 3px',
                    width: {
                        max: 410,
                        min: 0
                    },
                    tip: true
                },
                position: {
                    corner: {
                        target: 'topRight',
                        tooltip: 'bottomLeft'
                    },
                    adjust: {
                        screen: true // Keep the tooltip on-screen at all times
                    }
                }
            });
        });
    });
</script>
