<script type="text/javascript" src="/jquery/jquery.qtip-1.0.0-rc3.js"></script>
<link href="/public.css" media="screen" rel="stylesheet" type="text/css"/>

<style type="text/css">
    .guide-template-2 {
        width: 210px;
        background-color: #FFFFFF;
        border: 2px solid gray;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        padding: 2px;
    }

    /* guide head */
    .guide-template-2 .guide-head {
        background-color:#DBDABD;
        color: #000000;
        font-size: small;
        font-weight: bold;
        text-align: center;
    }

    .guide-template-2 .guide-head .guide-name {
        color: white;
    }

    .guide-template-2 .guide-head .guide-description {
    }

    .guide-template-2 .guide-head .guide-dow {
    }


    /* tips, main part */
    .guide-template-2 .tip-handle {
        cursor: pointer;
        background-color: green;
        border: 1px solid white;
        padding: 3px;
    }
    .guide-template-2 .guide-tip-selected .tip-handle {
        background-color: lightgreen;
        cursor: auto;
    }

    .guide-template-2 .guide-tip-selected .guide-tip-body {
        display: block !important;
        /*height: 0 !important;*/
        overflow: hidden;
    }

    .guide-template-2 .guide-tip-body {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid lightgray;
        padding: 2px;
        height: 200px;
        width: 200px;
        background-repeat: no-repeat;
        margin: 2px;
        display: none;
    }

    .guide-template-2 .guide-tip-body .tip-legend {
        opacity: 0.6;
        background-color: white;
        font-size: small;
        color: #222222;
        margin: 2px;
    }

    .guide-template-2 .guide-tip-body .tip-legend .tip-condition {
    }

    .guide-template-2 .guide-tip-body .tip-legend .tip-name {
        font-weight: bold;
    }


    /* guide footer */
    .guide-template-2 .guide-footer {
        background-color: #DBDABD;
        color: #000000;
        font-size: small;
    }

    .guide-template-2 .guide-footer .select-day {
        text-align: center;
        color: #666666;
    }
    .guide-template-2 .guide-footer .select-day .previous-day {
        /*background: url("/images/arrowleft.gif") no-repeat;*/
        /*width: 12px;*/
        /*height: 12px;*/
    }
    .guide-template-2 .guide-footer .select-day .next-day {
    }

    .guide-template-2 .guide-footer .guide-info {
        font-size: x-small;
        color: #666666;
    }
</style>









<!-- main guide container -->
<div class="guide-template-2">
  <!--header-->
  <div class="guide-head">
    <div class="guide-name">
      <a href="<%=WEB_ROOT%>/guides/<%= @calendar.id %>"><%= @calendar.name %></a>
    </div>
    <div class="guide-description">Travel tips for <%= @calendar.location.name %></div>
    <div class="guide-dow"><%= @dow.name %></div>
  </div>

  <!--tips-->
  <div class="guide-tips">
    <% prev_cond = nil %>
    <% @tips.each do |show_place| %>
        <% tip = show_place.tip %>

        <div class="guide-tip <%= prev_cond.nil? ? 'guide-tip-selected' : '' %>" tip_id="<%=show_place.id%>">
        <!--create header to click-->
        <div class="tip-handle" onclick="switch_tips(this);">
          <%= show_place.condition.full_name %>
        </div>

        <div class="guide-tip-body" style="background-image:url('<%=tip.image.url(:square)%>');">
          <div class="tip-legend">
            <span class="tip-condition"><%= show_place.condition.name %>:</span>
            <span class="tip-name"><%= tip.name %></span>

            <div class="full_tip" style="visibility:hidden;display:none;">
              <%= render :partial => 'display/hover/normal', :locals => {:place => show_place} %>
            </div>
          </div>
        </div>
        </div>

        <% prev_cond = show_place.condition %>
    <% end %>
  </div>

  <!--footer-->
  <div class="guide-footer">
    <!-- date navigation -->
    <div class="select-day">
      <% if @day > 0 %>
          <a class="previous-day" href="javascript:" onclick="_guiderer.render(this, <%= @day - 1 %>);" title="View <%= @dow.prev.name %>">
            <img style="border: none;" src="<%= WEB_ROOT %>/images/arrowleft.gif"/>
          </a>
      <% end %>
      <%= @dow.name %>
      <% if @day < @forecast_full.length - 1 %>
          <a class="next-day" href="javascript:" onclick="_guiderer.render(this, <%= @day + 1 %>);" title="View <%= @dow.next.name %>">
            <img style="border: none;" src="<%= WEB_ROOT %>/images/arrowright.gif"/>
          </a>
      <% end %>
    </div>

    <span>
      <a href="<%=WEB_ROOT%>/guides/<%= @calendar.id %>" target="_blank">
        Whole week
      </a>
    </span>

    <!-- ratings go here -->
    Rate this guide:
    <div class="starbar">
      <div class="outer">
        <div class="inner" style="width:<%=Integer(@rating*20)%>px">
          <a class="s5" onclick="_guiderer.vote(this);" title="5"></a>
          <a class="s4" onclick="_guiderer.vote(this);" title="4"></a>
          <a class="s3" onclick="_guiderer.vote(this);" title="3"></a>
          <a class="s2" onclick="_guiderer.vote(this);" title="2"></a>
          <a class="s1" onclick="_guiderer.vote(this);" title="1"></a>
        </div>
      </div>
    </div>

    <!-- links and other info -->
    <div class="guide-info">
      <div class="guiderer-logo">
        <a href="<%= WEB_ROOT %>"> Powered by<br/>
        <img src="<%= WEB_ROOT %>/images/guiderer-logo-trasnp-tiny.gif" heigth=35 width=80 border="none"></a>
      </div>

      <div class="qtip-content" style="display:none;">
        <%= render :partial => 'display/hover/guide_info', :locals => {:guide => @calendar} %>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
    function switch_tips(clicked) {
        var newTip = $(clicked).parents('.guide-tip');
        var oldTip = newTip.parent().find('.guide-tip-selected');
        oldTip.find('.guide-tip-body').slideUp(500);
        newTip.find('.guide-tip-body').slideDown(500);
        oldTip.removeClass('guide-tip-selected');
        newTip.addClass('guide-tip-selected');
    }
</script>
