<!--<script type="text/javascript" src="/jquery/jquery-1.4.2.min.js"></script>-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.qtip-1.0.0-rc3.js"></script>

<table bgcolor="#336600" border="1" cellpadding="5" cellspacing="0" width="200">
  <tbody>
  <tr>
    <td bgcolor="#ffcc33">
      <center>
        <font size="5"><%= @calendar.name %> </font>
      </center>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffff66">
      <center>
        <%= present_day @day %>: <%= @dow.name %>, <%= @weather_forecast.original_condition %>
      </center>
    </td>
  </tr>

  <% @tips.each do |show_place| %>
    <% tip = show_place.tip %>
      <tr>
        <td class="tip" id="tip_<%= show_place.id %>">
          <p align="center"><%= show_place.condition.name %>:<br>
            <font size="5">
              <% if tip.url != '' -%>
                  <a href="/calendars/<%= @calendar.id %>/tips/<%= tip.id %>/url">
                    <%= tip.name %>
                  </a>
              <% else -%>
                  <%= tip.name %>
              <% end -%>
            </font>

            <% if tip.address.address != '' -%>
                <br>
                <span style="color:gray;text-align:right;"><small>
                <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%=tip.address.lat%>+<%=tip.address.lng%>&z=16" target="_blank">map</a>
                </small></span>
            <% end -%>
          </p>

          <p><font color="#666666" size="2"><%= shorten tip.description, 70 %></font></p>

          <div class="full_tip" style="visibility:hidden;display:none;">
            <% if tip.image.exists? -%>
                <%= image_tag(tip.image.url(:medium), {:align=>"left", :alt => ''}) %>
            <% end %>
            <b><%= tip.name %></b><br/>

            <p><%= tip.description %></p>
          </div>
        </td>
      </tr>
  <% end %>

  <tr>
    <td bgcolor="#ffff66">
      <font size="2">Travel guide by <%= link_to @calendar.user.name, show_user_path(:id => @calendar.user.id) %>
        || <%= link_to 'Advertise', :controller => 'calendars', :action => 'advertise', :id => @calendar.id %></font>
    </td>
  </tr>
  </tbody>
</table>



<script type="text/javascript">
    $(document).ready(function() {
        $('td.tip').each(function() {
            $(this).qtip({
                content: $('#' + this.id + ' .full_tip').html(),
                style:  {
                    name: 'cream',
                    padding: '7px 13px',
                    width: {
                        max: 410,
                        min: 0
                    },
                    tip: true
                },
                position: {
                    corner: {
                        tooltip: 'bottomLeft',
                        target: 'topRight'
                    },
                    adjust: {
                        screen: true // Keep the tooltip on-screen at all times
                    }
                }
            });
        });
    })
</script>
