
<!--<script class="guiderer-resource" type="text/javascript" src="<%=WEB_ROOT%>/jquery/jquery.qtip-1.0.0-rc3.js"></script>-->
<link href="<%=WEB_ROOT%>/public.css" media="screen" rel="stylesheet" type="text/css"/>

<% root_class = ".guide-template-#{@template_id}" %>

<style type="text/css">
    .guide-template-1 {
        width: 106px;
        background-color: #FFFFFF;
        border: 2px solid gray;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        padding: 2px;
    }

    /* guide head */
    .guide-template-1 .guide-head {
        background-color:#DBDABD;
        color: #000000;
        font-size: small;
        font-weight: bold;
        text-align: center;
    }

    .guide-template-1 .guide-head .guide-name {
        color: white;
    }

    .guide-template-1 .guide-head .guide-description {
    }

    .guide-template-1 .guide-head .guide-dow {
    }


    .guide-template-1 .condition-group {
        background-color:gray;
        margin-top:2px;
        text-align:center;
    }


    /* tips, main part */
    .guide-template-1 .guide-tip {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid lightgray;
        padding: 2px;
        height: 96px;
        width: 96px;
        background-repeat: no-repeat;
        margin: 2px;
    }

    .guide-template-1 .guide-tip .tip-legend {
        opacity: 0.6;
        background-color: white;
        font-size: small;
        color: #222222;
        margin: 2px;
    }

    .guide-template-1 .guide-tip .tip-legend .tip-condition {
    }

    .guide-template-1 .guide-tip .tip-legend .tip-name {
        font-weight: bold;
    }


    /* guide footer */
    .guide-template-1 .guide-footer {
        background-color: #DBDABD;
        color: #000000;
        font-size: small;
    }

    .guide-template-1 .guide-footer .select-day {
        text-align: center;
        color: #666666;
    }
    .guide-template-1 .guide-footer .select-day .previous-day {
        /*background: url("/images/arrowleft.gif") no-repeat;*/
        /*width: 12px;*/
        /*height: 12px;*/
    }
    .guide-template-1 .guide-footer .select-day .next-day {
    }

    .guide-template-1 .guide-footer .guide-info {
        font-size: x-small;
        color: #666666;
    }
</style>









<!-- main guide container -->
<div class="guide-template-1">
  <!--header-->
  <div class="guide-head">
    <div class="guide-name">
      <a href="<%=WEB_ROOT%>/guides/<%= @calendar.id %>"><%= @calendar.name %></a>
    </div>
    <div class="guide-description">Travel tips for <%= @calendar.location.name %></div>
    <div class="guide-dow"><%= @dow.name %></div>
  </div>

  <!--tips-->
  <div class="guide-tips">
    <% condition = Condition.new %>
    <% @tips.each do |tip| %>

        <!-- put condition type (dinner, party, etc), if necessary -->
        <% if tip.condition.group != condition.group && !tip.condition.group.nil? %>
            <div class="condition-group">
              <%= tip.condition.group %>
            </div>
        <% end %>

        <div class="guide-tip guide-tip-body" style="background-image:url('<%=tip.image.url(:thumb)%>');">
          <div class="tip-legend">
            <span class="tip-condition"><%= tip.condition.name %>:</span>
            <span class="tip-name"><%= tip.name %></span>

            <div class="full_tip" style="visibility:hidden;display:none;">
              <%= render :partial => 'display/hover/normal', :locals => {:tip => tip} %>
            </div>
          </div>
        </div>

        <% condition = tip.condition %>
    <% end %>
  </div>

  <!--footer-->
  <div class="guide-footer">
    <!-- date navigation -->
    <div class="select-day">
      <% if @day > 0 %>
          <a class="previous-day" href="javascript:" onclick="_guiderer.render(this, <%= @day - 1 %>);" title="View <%= @dow.prev.name %>">
            <img style="border: none;" src="<%= WEB_ROOT %>/images/arrowleft.gif"/>
          </a>
      <% end %>
      <%= @dow.name %>
      <% if @day < @forecast_full.length - 1 %>
          <a class="next-day" href="javascript:" onclick="_guiderer.render(this, <%= @day + 1 %>);" title="View <%= @dow.next.name %>">
            <img style="border: none;" src="<%= WEB_ROOT %>/images/arrowright.gif"/>
          </a>
      <% end %>
    </div>

    <span>
      <a href="<%=WEB_ROOT%>/guides/<%= @calendar.id %>" target="_blank">
        Whole week
      </a>
    </span>

    <!-- ratings go here -->
    Rate this guide:
    <div class="starbar">
      <div class="outer">
        <div class="inner" style="width:<%=Integer(@rating*20)%>px">
          <a class="s5" onclick="_guiderer.vote(this);" title="5"></a>
          <a class="s4" onclick="_guiderer.vote(this);" title="4"></a>
          <a class="s3" onclick="_guiderer.vote(this);" title="3"></a>
          <a class="s2" onclick="_guiderer.vote(this);" title="2"></a>
          <a class="s1" onclick="_guiderer.vote(this);" title="1"></a>
        </div>
      </div>
    </div>

    <!-- links and other info -->
    <div class="guide-info">
      <div class="guiderer-logo">
        <a href="<%= WEB_ROOT %>"> Powered by<br/>
        <img src="<%= WEB_ROOT %>/images/guiderer-logo-trasnp-tiny.gif" heigth=35 width=80 border="none"></a>
      </div>

      <div class="qtip-content" style="display:none;">
        <%= render :partial => 'display/hover/guide_info', :locals => {:guide => @calendar} %>
      </div>

    </div>

  </div>
</div>




