
<style type="text/css">
    .guide-template-1 {
        width: 106px;
        display:inline-block;
        background-color: #FFFFFF;
        border: 2px solid gray;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        padding: 2px;
    }

    /* guide head */
    .guide-template-1 .guide-head {
        background-color:#DBDABD;
        color: #999999;
        font-size: small;
        font-weight: bold;
        text-align: center;
    }

    .guide-template-1 .guide-head .guide-name {
        color: white;
        text-transform:capitalize;
        font-size: 16px;


    }

    .guide-template-1 .guide-head .guide-description {
    }

    .guide-template-1 .guide-head .guide-dow {
    }


    .guide-template-1 .condition-group {
        background-color:gray;
        margin-top:2px;
        text-align:center;
    }
</style>









<!-- main guide container -->
<div class="guide-template-1">
  <!--header-->
  <div class="guide-head">
    <div class="guide-name">
      <%= guide_link @calendar %>
    </div>
    <div class="guide-description">Travel tips for <%= @calendar.location.name %></div>
    <div class="guide-dow">Day <%= @day + 1 %></div>
  </div>

  <!--tips-->
  <div class="guide-tips">
    <% condition = Condition.new %>
    <% @calendar.conditions.each do |condition| %>
        <% if @tips[@day][condition.id].length > 0 %>
        <% end %>

        <% @tips[@day][condition.id].each do |tip| %>

        <!-- put condition type (dinner, party, etc), if necessary -->
        <% if tip.condition.group != condition.group && !tip.condition.group.nil? %>
            <div class="condition-group">
              <%= tip.condition.group %>
            </div>
        <% end %>

        <%= render :partial => 'display/tip/small', :locals => {:tip => tip} %>

        <% condition = tip.condition %>
        <% end %>
    <% end %>
  </div>

  <!--footer-->
  <%= render :partial => 'display/footer/normal', :locals => {:guide => @calendar, :style => 'small'} %>
</div>




