<form id="user-edit" class="<%= @errors.nil? || @errors.empty? ? 'view-mode' : 'edit-mode' %>" action="/users/<%= user.id %>" method="post" enctype="multipart/form-data">

  <% fields_for "user", user do |form| %>
        <a href="javascript:" class="button edit">
          Edit
        </a>


      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

      <div class="input-row">
        <div>
          <%= form.label :name %>
          <span class="view"><%= h user.name %></span>
          <%= form.text_field :name, :class => 'input' %>
        </div>
        <div>
          <%= form.label :email %>
          <span class="view"><%= h user.email %></span>
          <%= form.text_field :email, :class => 'input' %>
        </div>
      </div>

      <div class="input-row">
        <div>
          <%= form.label :website %>
          <span class="view"><%= h user.website %></span>
          <%= form.text_field :website, :class => 'input' %>
        </div>
        <div>
          <%= form.label :public_email %>
          <span class="view"><%= h user.public_email %></span>
          <%= form.text_field :public_email, :class => 'input' %>
        </div>
      </div>

      <div class="input-row">
        <div>
          <%= form.label :facebook %>
          <span class="view"><%= h user.facebook %></span>
          <%= form.text_field :facebook, :class => 'input' %>
        </div>
        <div>
          <%= form.label :twitter %>
          <span class="view"><%= h user.twitter %></span>
          <%= form.text_field :twitter, :class => 'input' %>
        </div>
      </div>

      <br/>

      <div class="input-row">
        <div class="image">
          <label for="user_photo.image">Photo</label>

          <% if user.photo != nil %>
              <%= image_tag user.photo.image.url(:thumb), :class => 'view' %>
          <% else %>
              <span class="view no-value">none</span>
          <% end %>

          <label class="file-upload input">
            <span class="label">upload image <br/>
              <span class="file-name"></span>
            </span>
            <input type="file" name="user[photo_attributes][image]" size="5">
          </label>
          <input type="hidden" size="30" name="user[photo_attributes][id]" id="user_photo.id" value="<%= user.photo.nil? ? '' : @user.photo.id %>">
        </div>

        <div class="bio">
          <%= form.label :bio %>
          <div class="view"><%= h user.bio %></div>
          <textarea class="input" name="user[bio]" id="user_bio"><%= h user.bio %></textarea>
        </div>
      </div>


      <div class="button-panel">
        <!--<a href="javascript:" class="button edit">
          Edit
        </a>-->
        <a href="javascript:" class="button submit">
          Submit
        </a>
        <a href="javascript:" class="button cancel">
          Cancel
        </a>
      </div>
  <% end %>

  <br/>
</form>

<br/>
