<div id="home-page">
  <!--new guides-->
  <div class="new-guides section">
    <h1>Recently Created Guides</h1>

    <% @recent_calendars.each do |calendar| %>
        <div style="display:inline-block;vertical-align:text-top;">
          <div class="guiderer" guide_id="<%=calendar.id%>" guide_style="tiny">
            <%= link_to "Find more #{calendar.name_location} guides on Guiderer!", search_url(:search_location => calendar.location.name) %>
          </div>
        </div>
    <% end %>
  </div>

  <!--search guides-->
  <div class="search-guides section">
    <h1>Want tips on a travel destination?</h1>
    We got guides, yes we do! Find one here:

    <form id="search_form" name="search_form" method="get" action="guides">
      <input name="search_location" id="search_location" class="watermark" value="" type="text" title="type destination here" size="20">
      <img onclick="document.search_form.submit();" src="/images/guiderer-index_r11_c5.jpg" align="absmiddle"/>
    </form>
  </div>

  <!--create guide-->
  <div class="create-guide section">
    <h1>Know a tourist destination well?</h1>

    Create your own travel guide, complete with suggestions on what to do during the day, night and dinner.
    <img align="right" onclick="window.location='/guides/new';" src="/images/guiderer-index_r12_c5.jpg"/>
  </div>
</div>


<!--



<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td valign="top">


      <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="19"><img src="images/guiderer-tlcorner.jpg" width="19" height="50"/></td>
          <td valign="middle" bgcolor="#437888">
            <div align="right">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><font color="#FFFFFF" size="5">Want tips on a travel destination?</font></td>
                  <td bgcolor="#1F8AAE"><img src="images/guiderer-mid-top.jpg" width="72" height="50"/></td>
                </tr>
              </table>
            </div>
          </td>
          <td><img src="images/guiderer-trcorner.jpg" width="19" height="50"/></td>
        </tr>
        <tr>
          <td background="images/guiderer-sideblue.jpg" bgcolor="#1F8AAE">&nbsp;</td>
          <td bgcolor="#1F8AAE"><p class="text"><font color="#FFFFFF"><br/>
            We got guides, yes we do! Find one here</font>:</p>

            <form id="search_form" name="search_form" method="get" action="guides">
              <label>
                <input  name="search_location" id="search_location" class="subheadtablegray watermark" value="" type="text" title="type destination here" size="20">
              </label>
              <font color="#FFFFFF">
                <img onclick="$.Watermark.HideAll();document.search_form.submit();" src="images/guiderer-index_r11_c5.jpg" class="subheadtablegray" width="190" height="35" align="absmiddle"/>
              </font>
            </form>

          </td>
          <td bgcolor="#1F8AAE">&nbsp;</td>
        </tr>
        <tr>
          <td><img src="images/guiderer-blcorner.jpg" width="19" height="17"/></td>
          <td bgcolor="#1F8AAE"></td>
          <td width="19"><img src="images/guiderer-brcorner.jpg" width="19" height="17"/></td>
        </tr>
      </table>    <BR><BR>

      <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="19"><img src="images/guiderer-tlcorner.jpg" width="19" height="50"/></td>
          <td valign="middle" bgcolor="#437888">
            <div align="right">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><font color="#FFFFFF" size="5">Know a tourist destination well?</font></td>
                  <td bgcolor="#1F8AAE"><img src="images/guiderer-mid-top.jpg" width="72" height="50"/></td>
                </tr>
              </table>
            </div>
          </td>
          <td><img src="images/guiderer-trcorner.jpg" width="19" height="50"/></td>
        </tr>
        <tr>
          <td background="images/guiderer-sideblue.jpg" bgcolor="#1F8AAE">&nbsp;</td>
          <td bgcolor="#1F8AAE">

            <p class="text">
                  <font color="#FFFFFF">Create your own travel guide, complete with suggestions on what to do during the
                    day, night and dinner.</font></p>

                  <p align="right"><font color="#FFFFFF">
                    <img onclick="window.location='/guides/new';" src="images/guiderer-index_r12_c5.jpg" width="190" height="35"/>
                  </font></p>
          </td>
          <td bgcolor="#1F8AAE">&nbsp;</td>
        </tr>
        <tr>
          <td><img src="images/guiderer-blcorner.jpg" width="19" height="17"/></td>
          <td bgcolor="#1F8AAE"></td>
          <td width="19"><img src="images/guiderer-brcorner.jpg" width="19" height="17"/></td>
        </tr>
      </table>

      
      <p>&nbsp;</p></td>


    <td valign="top">


      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="19"><img src="images/guiderer-tlcorner.jpg" width="19" height="50"/></td>
          <td valign="middle" bgcolor="#437888">
            <div align="right">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><font color="#FFFFFF" size="5">Recently Created Guides</font></td>
                  <td bgcolor="#1F8AAE"><img src="images/guiderer-mid-top.jpg" width="72" height="50"/></td>
                </tr>
              </table>
            </div>
          </td>
          <td><img src="images/guiderer-trcorner.jpg" width="19" height="50"/></td>
        </tr>
        <tr>
          <td background="images/guiderer-sideblue.jpg" bgcolor="#1F8AAE">&nbsp;</td>
          <td bgcolor="#1F8AAE">
            <BR>
            <% @recent_calendars.each do |calendar| %>

                <div id="calendar_area_<%= calendar.id %>"></div>
                <script type="text/javascript">
                    _cal.render_calendar("calendar_area_<%= calendar.id %>", <%= calendar.id %>, "tiny");
                </script> <br><br>
            <% end %>
          </td>


          <td bgcolor="#1F8AAE">&nbsp;</td>
        </tr>
        <tr>
          <td><img src="images/guiderer-blcorner.jpg" width="19" height="17"/></td>
          <td bgcolor="#1F8AAE"></td>
          <td width="19"><img src="images/guiderer-brcorner.jpg" width="19" height="17"/></td>
        </tr>
      </table>




      <p>&nbsp;</p></td>
  </tr>
</table>

-->



<script type="text/javascript">
  $(document).ready(function() {
    $("#search_location").autocomplete(
            [
                <% @locations.size.times do |index| -%>
                    '<%= @locations[index].name %>'
                    <% if index < @locations.size - 1 -%>
                        ,
                    <% end %>
                <% end -%>
            ],
    {
    });

    $('#search_form').submit(function() {
        $.Watermark.HideAll();
        return true;
    });
  });
</script>
