<h1>Welcome! You are almost done creating an account!</h1>

<style type="text/css">
  .validation-error {
      font-size: medium !important;
  }
</style>

<% form_for @user, :url => register_path do |f| %>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </p>
    <br/>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <%= f.hidden_field :identity_url %>
    <br/>

    <div class="button-panel">
      <a href="javascript:" class="button" onclick="$('#new_user').submit();">
        Complete registration
      </a>
    </div>


    <!--<p>
      <%= f.submit 'Complete registration' %>
    </p>-->
<% end %>

