
  <p><b>Name:</b> <%= h @user.name %></p>
  <% if !@user.website.blank? %>
      <p><b>Website:</b> <a href="<%= h @user.website %>"><%= h @user.website %></a></p>
  <% end %>
  <% if !@user.public_email.blank? %>
      <p><b>Contact Email:</b> <a href="mailto:<%= h @user.public_email %>"><%= h @user.public_email %></a></p>
  <% end %>
  <% if !@user.twitter.blank? %>
      <p><b>Twitter:</b> <a href="<%= h @user.twitter %>"><%= h @user.twitter %></a></p>
  <% end %>
  <% if !@user.facebook.blank? %>
      <p><b>Facebook:</b> <a href="<%= h @user.facebook %>"><%= h @user.facebook %></a></p>
  <% end %>

  <p>
    <% if @user.photo != nil %>
        <%= image_tag @user.photo.image.url(:thumb) %>
    <% end %>
    <%= h @user.bio %>
  </p>

<h2>User's guides</h2>
<% @user.calendars.select{|guide| guide.public?}.each do |guide| %>
    <%= render :partial => 'calendars/widget', :locals => {:guide => guide, :style_id => 3} %>
<% end %>

<!--
<table id="calendar_search_result" width=950px class="display" border="0" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <th class="sorting">Name</th>
    <th class="sorting">Location</th>
    <th class="sorting">Views</th>
    <th class="sorting">Rating</th>
    <th class="sorting">Completed</th>
    <th class="sorting">Created</th>
  </tr>
  </thead>

  <tbody>
<% @user.calendars.each do |calendar| %>
  <tr>
    <td><span class="headtextlighter">
      <%= link_to calendar.name, show_guide_path(:id => calendar) %>
    </span></td>
    <td><%=h calendar.location.name %></td>
    <td><%=h calendar.view_count %></td>
    <td><%=h calendar.rating_str %></td>
    <td><%=h calendar.completed_percentage %>%</td>
    <td><%=h calendar.created_at.strftime "%B %d, %Y" %></td>
  </tr>
<% end %>
</tbody>
</table>
-->

<script type="text/javascript">
    $(document).ready(function() {
        $('#calendar_search_result').dataTable();
    });
</script>

