<h1>New calendar</h1>


<% form_for(@calendar) do |f| %>
    <% if flash[:error] %>
      <p style="color:red;"><%= flash[:error] %></p>
    <% end %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <label for="calendar_location_name">Location name</label><br>
      <input class="ac_input" id="calendar_location_name" name="location_name" size="30" value="" type="text">
    </p>
    <input id="calendar_location_code" name="location_code" value="" type="hidden">



    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>

<%= link_to 'Back', calendars_path %>



<script type="text/javascript">
    input = $("#calendar_location_name");
    input.autocomplete('/check_location', {
        delay: 1000,
        minChars: 3,
        mustMatch: true,
        cacheLength: 1,
        matchSubset: false
    });
    input.result(function(event, data, formatted) {
        $('#calendar_location_code')[0].value = data[1];
    });
</script>