<p>New printing order is received for a guide <a href="<%= WEB_ROOT %>/guides/<%= @guide.id %>"><%= h @guide.name %></a>.</p>
<p><a href="<%= WEB_ROOT %>/books/<%= @book.id %>/print">Click here to see pdf</a></p>

<p>notification type: <%= h @type %></p> 