<% form_tag("/calendars/#{@calendar.id}/tips/update", :method => "post", :id => 'edit_tips_form') do %>

  <table border="1" cellpadding="10" cellspacing="0" width="100%">

    <tbody>

    <% @weekdays    .each do |day| %>
        <% tip = @calendar.show_places.detect { |t| t.condition.id == @edit_for.id and t.weekday.id == day.id and !t.tip.advertisement } %>
        <% if tip != nil then %>
               <%= render :partial => 'tips/edit_row', :locals => {:place => tip, :title => tip.weekday.name} %>
        <% else %>
            <tr id="tip_day_<%=day.id%>">
              <td colspan="4">
                <%= day.name %>
                <button type="button" onclick="tips.create(this.parentNode.parentNode, <%=@edit_for.id%>, <%=day.id%>);">create tip</button>
              </td>
            </tr>
        <% end %>
    <% end %>

          </tbody></table>
      <div align="center">
    <table><tr><td><p class="textflow" align="center">
      <% if !@edit_for.last? %>
          <a href="javascript:" onclick="tips.save('edit_tips_form', <%= @calendar.id %>, function() {calendar.selectNext();});">
            Save and edit <%= @edit_for.next.name %> tips &gt;&gt;
          </a>
      <% end %>
    </p></td><td><p class="textflow" align="center">
      <a href="javascript:" onclick="tips.save('edit_tips_form', <%= @calendar.id %>);">Save changes</a>
    </p>
<% end %></td></tr></table> </div>





<div id="new_tip" style="display:none;">
  <% form_tag("/calendars/#{@calendar.id}/tips/create", :method => "post", :id => 'new_tip_form') do %>
    <input id="new_tip_name" name="new_tip_name"/>
  <% end %>
</div>

<div id="global-loading-indicator" style="display:none;top:50%;left:50%;position:fixed;z-index:2147483640;width:100px;height:50px;">
  <img src="/images/loading-indicator.gif">
  <br/>
</div>
