<% form_tag("/guides/#{@calendar.id}/tips/update", :method => "post", :id => 'edit_tips_form') do %>

    <div class="edit-tips-batch">

      <% @tips.each_index do |i| %>
          <% tip = @tips[i] %>
          <div>
            <h2 class="tip-tab">
              <%= h @labels[i] %>
            </h2>

            <div class="tip-edit">
              <%= render :partial => 'tips/edit', :locals => {:tip => tip} %>
            </div>
          </div>
      <% end %>

    </div>


    <div class="button-panel">
      <% if !@edit_prev.nil? %>
          <a href="javascript:" onclick="tips.saveTab('edit_tips_form', function() {calendar.selectPrevious();});" class="button">
            &lt;&lt; Save and edit <%= @edit_prev.name %> tips
          </a>
      <% end %>
      <% if !@edit_next.nil? %>
          <a href="javascript:" onclick="tips.saveTab('edit_tips_form', function() {calendar.selectNext();});" class="button">
            Save and edit <%= @edit_next.name %> tips &gt;&gt;
          </a>
      <% end %>
      <a href="javascript:" onclick="tips.saveTab('edit_tips_form', function() {common.setLocation('/guides/<%=@calendar.id%>/');});" class="button">
        Save and show overview
      </a>
    </div>
<% end %>





<script type="text/javascript">
</script>


