<% form_tag("/guides/#{@calendar.id}/tips/update", :method => "post", :id => 'edit_tips_form') do %>

    <div class="edit-tips-batch">

      <% @conditions.each do |condition| %>
          <% place = @calendar.show_places.detect { |t| t.condition.id == condition.id and t.weekday.id == @edit_for.id } %>

          <div>

            <% if place != nil then %>
                <h2 class="tip-tab">
                  <%= condition.full_name %>
                  <span style="float:right;">
                    <%= h place.tip.name %>
                  </span>
                </h2>

                <div class="tip-edit">
                  <%= render :partial => 'tips/edit', :locals => {:place => place} %>
                </div>
            <% else %>
                <h2 class="no-tip-tab">
                  <%= condition.full_name %>
                  <span style="float:right;">
                    <button type="button" onclick="tips.create(this.parentNode.parentNode.parentNode, <%=condition.id%>, <%=@edit_for.id%>, 'edit');">
                      create tip
                    </button>
                  </span>
                </h2>

                <div class="tip-edit">
                </div>
            <% end %>

          </div>

      <% end %>

    </div>




    <div class="button-panel">
      <% if !@edit_for.last? %>
          <a href="javascript:" onclick="tips.save('edit_tips_form', <%= @calendar.id %>, function() {calendar.selectNext();});" class="button">
            Save and go to <%= @edit_for.next.name %> &gt;&gt;
          </a>
      <% end %>
      <a href="javascript:" onclick="tips.save('edit_tips_form', <%= @calendar.id %>);" class="button">
        Save changes
      </a>
      <%= link_to 'Show me my guide', show_guide_path(:id => @calendar), :class => 'button' %>
    </div>



<% end %>


<script type="text/javascript">
    $(document).ready(function() {
        $(".edit-tips-batch").fpTabs(".tip-edit", {
            tabs: 'h2',
            onBeforeClick: function(event, tabIndex) {
                var tab = this.getTabs().eq(tabIndex);
                return !tab.hasClass('no-tip-tab');
            },
            effect: 'slide'
        });
    });
</script>
