<% form_tag("/guides/#{@calendar.id}/tips/update", :method => "post", :id => 'edit_tips_form') do %>

    <div class="edit-tips-batch">

      <% @conditions.each do |condition| %>
          <% place = @calendar.show_places.detect { |t| t.condition.id == condition.id and t.weekday.id == @edit_for.id and !t.tip.advertisement } %>

          <div>

          <h2><%=condition.full_name%>  <span style="text-align:right;">
            <% if place != nil then %>
               <%= place.tip.name %>
            <% else %>
                <button type="button" onclick="tips.create(this.parentNode.parentNode.parentNode, <%=condition.id%>, <%=@edit_for.id%>, 'edit');">
                  create tip
                </button>
            <% end %>
          </span> </h2>

          <div class="tip-edit">
          <% if place != nil then %>
              <%= render :partial => 'tips/edit', :locals => {:place => place} %>
          <% else %>
            <button type="button" onclick="tips.create(this.parentNode.parentNode, <%=condition.id%>, <%=@edit_for.id%>, 'edit');">
              create tip
            </button>
          <% end %>
          </div>

          </div>

      <% end %>

    </div>
    
    <div align="center">
      <table>
        <tr>
          <td>
            <% if !@edit_for.last? %>
                <p class="textflow" align="center">
                  <a href="javascript:" onclick="tips.save('edit_tips_form', <%= @calendar.id %>, function() {calendar.selectNext();});">
                    Save and go to <%= @edit_for.next.name %> &gt;&gt;
                  </a>
                </p>
            <% end %>
          </td>
          <td><p class="textflow" align="center">
            <a href="javascript:" onclick="tips.save('edit_tips_form', <%= @calendar.id %>);">Save changes</a>
          </p></td>

          <TD><p class="textflow" align="center">
            <%= link_to 'Show me my guide', show_guide_path(:id => @calendar) %></p>
          </TD>
        </tr>

      </table>
    </div>




<% end %>


<div id="new_tip" style="display:none;">
  <% form_tag("/guides/#{@calendar.id}/tips/create", :method => "post", :id => 'new_tip_form') do %>
      <input id="new_tip_name" name="new_tip_name"/>
  <% end %>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $(".edit-tips-batch").fpTabs(".tip-edit", {tabs: 'h2', effect: 'slide'});
    });
</script>
