<% title @guide.name %>

<div id="edit_tips" data-city="<%= h @guide.location.name %>" data-id="<%= @guide.id %>">
  <h1>Step 2: Add points of interest on your day tours</h1>

  <%= render :partial => 'edit_pane', :locals => {:guide => @guide} %>

  <div class="new-tip-container edit-tip-root">
    <% tip_model = Tip.new(:attraction => Attraction.new) %>
    <% form_for(tip_model, :url => "/guides/#{@guide.id}/tips/create", :html => {:method => "post", :id => 'create_tip_form', :class => ''}) do |form| %>
        <div class="tip-name-area">
          <span>Add a point of interest: </span>
          <%= form.text_field :name, :size => 30, :class => 'tip-name watermark', :title => "name of attraction", :maxlength => Tip::MAX_NAME_LENGTH, :autocomplete => "off" %>
          <!--show no validation message for this field-->
          <span class="validation-error tip[name]_error" style="display:none;"></span>

          <!--<button class="tip-cancel" type="button">Cancel</button>-->
          <button class="load-info" type="button">find contact and photos</button>
        </div>

        <div class="tip-ideas">
          <span>Need ideas?</span>
          <div class="content">
            <div class="category">
              <div class="name">entertainment</div>
              <div class="content">
                <div class="type">club</div>
                <div class="type">bar</div>
                <div class="type">pub</div>
                <div class="type">concert</div>
                <div class="type">aquarium</div>
                <div class="type">zoo</div>
                <div class="type">arena</div>
                <div class="type">stadium</div>
                <div class="type">casino</div>
                <div class="type">music</div>
                <div class="type">dance</div>
                <div class="type">jazz</div>
                <div class="type">blues</div>
                <div class="type">disco</div>
              </div>
            </div>
            <div class="category">
              <div class="name">culture</div>
              <div class="content">
                <div class="type">gallery</div>
                <div class="type">theater</div>
                <div class="type">museum</div>
                <div class="type">history museum</div>
                <div class="type">art museum</div>
                <div class="type">symphony</div>
                <div class="type">opera</div>
                <div class="type">library</div>
              </div>
            </div>
            <div class="category">
              <div class="name">sightseeing</div>
              <div class="content">
                <div class="type">park</div>
                <div class="type">church</div>
                <div class="type">temple</div>
                <div class="type">mosque</div>
                <div class="type">synagogue</div>
                <div class="type">river</div>
                <div class="type">ship</div>
                <div class="type">statue</div>
                <div class="type">monument</div>
                <div class="type">waterfall</div>
                <div class="type">square</div>
                <div class="type">lake</div>
                <div class="type">garden</div>
                <div class="type">forest</div>
                <div class="type">farm</div>
                <div class="type">factory</div>
                <div class="type">castle</div>
                <div class="type">bay</div>
                <div class="type">bridge</div>
                <div class="type">beach</div>
                <div class="type">market</div>
              </div>
            </div>
            <div class="category">
              <div class="name">other</div>
              <div class="content">
                <div class="type">mall</div>
                <div class="type">shop</div>
                <div class="type">spa</div>
                <div class="type">restaurant</div>
                <div class="type">cafe</div>
              </div>
            </div>
          </div>
        </div>

        <%= render :partial => 'tips/edit', :locals => {:tip => tip_model, :form => form} %>

        <button class="tip-create" type="button">Create</button>
    <% end %>
  </div>



  <div id="tips-matrix" class="clear-fix">
    <% tips = @guide.grouped_tips %>

    <% tips.each_index do |day| %>
        <div class="day-group" data-day="<%= day %>">
          <div class="day-header">
            Day <%= day + 1 %>
          </div>

          <% @guide.conditions.each do |condition| %>
              <div class="condition-label">
                <%= h condition.full_name %>
              </div>

              <div class="condition-group" data-condition="<%= condition.id %>">
                <% tips[day][condition.id].each do |tip| %>
                    <%= render :partial => 'tips/edit_tile', :locals => {:tip => tip} %>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>

  </div>

  <div>

    <div class="button-panel">
      <span class="head2">I am done creating my guide, for now:</span>
      <span class="button">
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" >Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </span>
      <a href="/guides/<%= @guide.id %>/share" class="button">
        View live version
      </a>
      <a href="/guides/<%= @guide.id %>/map" class="button">
        View map
      </a>
    </div>
  </div>


  <div id="new_tip" style="display:none;">
    <% form_tag("/guides/#{@guide.id}/tips/create", :method => "post", :id => 'new_tip_form') do %>
        <input id="new_tip_name" name="new_tip_name"/>
    <% end %>
  </div>


  <div id="edit-tip-container" class="">
  </div>


  <h3>Ready to share?</h3>
  <fb:comments xid="<%= "guides-#{@guide.id}" %>" numposts="3" width="500" publish_feed="true" ></fb:comments>
  <!--css="http://guiderer.com/css/facebook.css"-->

  <!--data-url="<%= "http://guiderer.com/guides/#{@guide.id}" %>"-->
</div>


<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js#appId=<%= FACEBOOK_APP_ID %>&amp;xfbml=1"></script>


<script type="text/javascript">
    $(document).ready(function() {
        // initialize autocomplete for locations
        $('.location-input').each(function(i, e) {
            guide.locationInput(e, function(input, result) {
                if (result == null) {
                    return;
                }
                var root = input.parent().parent();
                root.find('.view-area').html(result.label);
                guide.resetGuideLocation(root);

                // Now save value.
                common.setLoading($('.location-loading'), 'Saving...');
                var form = $('#edit_tips form.update-guide-form');
                form.find('.param_location_name').val(result.label);
                form.find('.param_location_code').val(result.id);
                form.ajaxSubmit({
                    success: function() {
                        common.stopLoading($('.location-loading'));
                    }
                });
            });
        });

        $('#guide_active').button();

//        $('div.new-tip-container .tip-cancel').click(guide.closeTip);
        $('div.new-tip-container .tip-create').click(guide.createTip);
    });
</script>