<div id="edit_tips" data-city="<%= h @guide.location.name %>" data-id="<%= @guide.id %>">
  <h1>Step 2: Add points of interest on your day tours</h1>

  <%= render :partial => 'edit_pane', :locals => {:guide => @guide} %>

  <div class="new-tip-container edit-tip-root">
    <% tip_model = Tip.new(:address => Address.new) %>
    <% form_for(tip_model, :url => "/guides/#{@guide.id}/tips/create", :html => {:method => "post", :id => 'create_tip_form', :class => ''}) do |form| %>
        <div class="tip-name-area">
          <span>Add a point of interest: </span>
          <%= form.text_field :name, :size => 30, :class => 'tip-name watermark', :title => "name of attraction", :maxlength => Tip::MAX_NAME_LENGTH %>
          <!--show no validation message for this field-->
          <span class="validation-error tip[name]_error" style="display:none;"></span>
          <button class="tip-cancel" type="button">Cancel</button>
          <button class="tip-create" type="button">Create</button>
        </div>

        <%= render :partial => 'tips/edit', :locals => {:tip => tip_model, :form => form} %>
    <% end %>
  </div>

  <BR><BR>

  <div id="tips-matrix">
    <% tips = @guide.grouped_tips %>

    <% tips.each_index do |day| %>
        <div class="day-group" data-day="<%= day %>">
          <div class="day-header">
            Day <%= day + 1 %>
          </div>

          <% @guide.conditions.each do |condition| %>
              <div class="condition-label">
                <%= h condition.full_name %>
              </div>

              <div class="condition-group" data-condition="<%= condition.id %>">
                <% tips[day][condition.id].each do |tip| %>
                    <%= render :partial => 'tips/edit_tile', :locals => {:tip => tip} %>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>

  </div>
  <p> TIP! You can drag your points of interest around, to place them in the ideal time of day.</p>

  <div>

    <div class="button-panel">
 <span class="head2">I am done creating my guide, for now:
    </span>
      <a href="/guides/<%= @guide.id %>/share" class="button">
        View live version
      </a>
      <a href="/guides/<%= @guide.id %>/map" class="button">
        View map
      </a>
    </div>
  </div>


  <div id="new_tip" style="display:none;">
    <% form_tag("/guides/#{@guide.id}/tips/create", :method => "post", :id => 'new_tip_form') do %>
        <input id="new_tip_name" name="new_tip_name"/>
    <% end %>
  </div>


  <div id="edit-tip-container" class="">
  </div>

</div>



<script type="text/javascript">
    $(document).ready(function() {
        // initialize autocomplete for locations
        $('.location-input').each(function(i, e) {
            guide.locationInput(e, function(input, result) {
                if (result == null) {
                    return;
                }
                var root = input.parent().parent();
                root.find('.view-area').html(result.label);
                guide.resetGuideLocation(root);

                // Now save value.
                common.setLoading($('.location-loading'), 'Saving...');
                var form = $('#edit_tips form.update-guide-form');
                form.find('.param_location_name').val(result.label);
                form.find('.param_location_code').val(result.id);
                form.ajaxSubmit({
                    success: function() {
                        common.stopLoading($('.location-loading'));
                    }
                });
            });
        });

        $('#guide_active').button();

        $('div.new-tip-container .tip-cancel').click(guide.closeTip);
        $('div.new-tip-container .tip-create').click(guide.createTip);
    });
</script>