<h1>Guide map</h1>

<div id="map-canvas"></div>

<div id="map-data" style="display: none;">
  <% @guide.tips.each do |tip| %>
      <div class="tip-data"
           data-name="<%= h tip.name %>"
           data-lat="<%= tip.address.lat %>"
           data-lng="<%= tip.address.lng %>">
        <div class="map-info-window">
          <h3>
            <% if !tip.url.blank? %>
                <a href="/guides/<%= tip.calendar.id %>/tips/<%= tip.id %>/url" target="_blank">
                    <%= h tip.name %>
                </a>
            <% else %>
                <%= h tip.name %>
            <% end %>
          </h3>
          <% if tip.image_exists? %>
              <%= image_tag tip.image.url(:thumb), {:align=>"left", :style=>"margin:10px;"} %>
          <% end %>
          <p>
            <%= h tip.description %>
          </p>
          <% if !tip.address.address.blank? -%>
              <p>
                <b>Address</b>: <%= h tip.address.address %>
              </p>
          <% end -%>
          <% if !tip.phone.blank? %>
              <p>
                <b>Phone</b>: <%= h tip.phone %>
              </p>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

  <div class="button-panel">

    <a href="/guides/<%= @guide.id %>/share" class="button">
      View widget version
    </a>
    <a href="/guides/<%= @guide.id %>/" class="button">
      Edit Guide
    </a>
  </div>




<script type="text/javascript">
    google.load('maps', '3', {'other_params' : 'sensor=false'});

    $(document).ready(function() {
        var markers = [];
        var tip_elements = [];
        var bounds = new google.maps.LatLngBounds();

        $('#map-data .tip-data').each(function() {
            var el = $(this);
            var lat = el.attr('data-lat');
            var lng = el.attr('data-lng');
            if (lat != '0.0') {
                var name = el.attr('data-name');
                var point = new google.maps.LatLng(lat, lng);
                var marker = new google.maps.Marker({
                    position: point,
                    title: name
                });
                markers.push(marker);
                tip_elements.push(el);
                bounds.extend(point);
            }
        });

        if (markers.length == 0) {
            $('#map-canvas').html('<h2>No map to show.</h2>');
            return;
        }
        var map = new google.maps.Map($('#map-canvas')[0], {
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        map.fitBounds(bounds);

        var info_window = new google.maps.InfoWindow({});
        for (var i = 0; i < markers.length; ++i) {
            (function(marker, tip_element) {
                marker.setMap(map);
                google.maps.event.addListener(marker, 'click', function() {
                    info_window.close();
                    info_window.setContent(tip_element.find('.map-info-window').clone()[0]);
                    info_window.open(map, marker);
                });
            })(markers[i], tip_elements[i]);
        }
    });
</script>