<div id="new_guide_page">

  <form id="new_calendar_form" name="new_calendar_form" class="with-watermark" action="<%= create_guide_path %>" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

    <h1>Create a Travel Guide</h1>

    <div style="width:700px;margin-left:100px;font-size:medium" align="left">
      <P>There are three steps to creating a Guiderer travel guide:</P>
      <ol>
        <li>Name you guide</li>

        <li>Add points of interest</li>

        <li>Arrange your points of interest into day tours</li>
      </ol>
    </div>

    <div class="afterwards" style="width:700px;margin-left:100px;font-size:medium" align="left">

      <table cellspacing="15" cellpadding="4" valign="top">
        <tr>
          <td colspan="4">Afterwards, you can turn your guide into a:</td>
        </tr>
        <tr class="boxes">
          <td width="20%" valign="top" bgcolor="#CC9966">
            <span style="font-size:larger">Widget</span> <br/>
            and place it on your blog or site
          </td>
          <td width="20%" valign="top" bgcolor="#9999FF"><span style="font-size:larger"> Print Booklet </span> <br/>
            to give to customer
          </td>
          <td width="20%" valign="top" bgcolor="#00CC66"><span style="font-size:larger">iPhone App </span> <br/>
            and mobilize it (coming soon)
          </td>
          <td width="20%" valign="top" bgcolor="#FFCC00"><span style="font-size:larger"> ".com" Domain</span><br/>
            featuring your guide
          </td>
          <td width="20%" valign="top" bgcolor="#FF0000"><span style="font-size:larger">video clip</span><br/>
            3 minutes of tips with cool music (coming soon)
          </td>
        </tr>
      </table>

      <P>The whole process takes less than 15 minutes and can make you a super-star, of sorts.</P></div>

    <div class="name-area">
      <h2 align="left">Step 1: Name Your Guide</h2>

      <p class="hint"> E.g., Rio for Partiers, Big Apple for Families, Madrid for Hilton Guests, Hollywood for Movie
        Fans </p>

      <div>
        <div class="column">
          <input id="calendar_name_location" class="watermark" title="city or region" name="name_location"
                 type="text" value="<%= h params[:name_location] %>" size="20" maxlength="20">
        </div>
        FOR
        <div class="column">
          <input id="calendar_name_target" class="watermark" title="target group" name="name_target"
                 type="text" value="<%= h params[:name_target] %>" size="20" maxlength="20">
        </div>
      </div>


      <div class="location-area">
        <h4>Use weather info for which city?</h4>

        <div class="input-area">
          <!--<input id="calendar_location_name" name="location_name" size="25" value="<%= h params[:location_name] %>" type="text">
          <span style="position:absolute;left:50%;" class="location-loading"></span>
          <input id="calendar_location_code" name="location_code" value="<%= params[:location_code] %>" type="hidden" class="param_location_code">-->
          <%= render :partial => 'location_input', :locals => {:name => params[:location_name], :code => params[:location_code]} %>
        </div>

        <p class="hint">If you can not find your destination, type in the closest big city</p>
      </div>


      <div class="button-panel">
        <a href="javascript:" onclick="$('#new_calendar_form').submit();" class="button">
          Save and go to step 2: List your points of interest
        </a>
      </div>
    </div>
  </form>


  <script type="text/javascript">
      $(document).ready(function() {
          // initialize autocomplete for locations
          guide.init_location_input($('#new_guide_page .location-area'));
          /*$('#calendar_location_name').each(function(i, e) {
           guide.locationInput(e, function(input, result) {
           if (result == null) {
           //                    if ($('#calendar_location_code').val() == '') {
           //                        $('#calendar_location_name').val('');
           //                    }
           //                    $('#calendar_location_code').val('');
           } else {
           $('#calendar_location_code').val(result.id);
           }
           });
           });*/


          $('#calendar_name_location').blur(function() {
              $.Watermark.HideAll();
              var loc = $(this).val();
              var target = $('input[name=location_name]');
//            alert(target.length);
              if (!loc.blank() && target.val().blank()) {
                  target.val(loc);
                  target.autocomplete('search');
//                target.val('');
              }
              $.Watermark.ShowAll();
          });

          $('#new_calendar_form').submit(function() {
              var input_name = $('#new_calendar_form input[name=location_name]');
              input_name.val(input_name.data('last'));
          });
      });

  </script>


</div>