<div id="new_guide_page">

  <form id="new_calendar_form" name="new_calendar_form" class="with-watermark" action="<%= create_guide_path %>" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

    <h1>Create a Travel Guide</h1>

    <div style="width:700px;margin-left:100px;font-size:large" align="left">
      <P>There are four steps to creating a Guiderer travel guide:</P>

      <p>1) Name you guide</P>

      <P>2) List your travel tips</P>

      <P>3) Schedule your tips over week calendar</P>

      <P>4) Add details to your tips, like photos and contact info.</P></div>
    <P></P>

    <div style="width:700px;margin-left:100px;font-size:medium" align="left">
      <P>Afterwards, You can turn your guide into a: <BR>- Widget and place it on your blog or site,<BR>- Booklet to
        give to customer,<BR>- An Iphone App,<BR>- Domain with your guide.</P>

      <P>The whole process takes less than 30 minutes and can make you a super-star, of sorts.</P></div>

    <div class="name-area" style="width:700px;margin-left:100px;background-color:#0066CC;border-radius:15px;padding:10px">
      <h2 align="left">Step 1: Guide Name</h2>

      <div>
        <div class="column">
          <input id="calendar_name_location" class="watermark" title="city or region" name="calendar_name_location"
                 type="text" value="<%= h params[:calendar_name_location] %>" size="20" maxlength="20">
        </div>
        FOR
        <div class="column">
          <input id="calendar_name_target" class="watermark" title="target group" name="calendar_name_target"
                 type="text" value="<%= h params[:calendar_name_target] %>" size="20" maxlength="20">
        </div>
      </div>
      <p class="hint"> E.g., Rio for Partiers, Big Apple for Families, Madrid for Hilton Guests </p>


      <div class="location-area">
        <h4>Use weather info for which city?</h4>

        <div class="input-area">
          <input id="calendar_location_name" name="location_name" size="25" value="<%= h params[:location_name] %>" type="text">
          <span style="position:absolute;left:50%;" class="location-loading"></span>
          <input id="calendar_location_code" name="location_code" value="<%= params[:location_code] %>" type="hidden" class="param_location_code">
        </div>

        <p class="hint">If you can not find your destination, type in the closest big city</p>
      </div>


      <div class="button-panel">
        <a href="javascript:" onclick="$('#new_calendar_form').submit();" class="button">
          Proceed to step 2: List your points of interest
        </a>
      </div>
    </div>
  </form>





<script type="text/javascript">
    $(document).ready(function() {
        // initialize autocomplete for locations
        $('#calendar_location_name').each(function(i, e) {
            guide.locationInput(e, function(input, result) {
                if (result == null) {
                    //                    if ($('#calendar_location_code').val() == '') {
                    //                        $('#calendar_location_name').val('');
                    //                    }
                    //                    $('#calendar_location_code').val('');
                } else {
                    $('#calendar_location_code').val(result.id);
                }
            });
        });


        $('#calendar_name_location').blur(function() {
            var loc = $(this).val();
            var target = $('#calendar_location_name');
            if (!common.empty(loc) && common.empty(target.val())) {
                target.val(loc);
                target.autocomplete('search');
            }
        });
    });

</script>


</div>