<h1>Create a Guide</h1>



<p>&nbsp;</p>

<form id="new_calendar_form" name="new_calendar_form" action="<%= new_calendar_path %>" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <% if flash[:error] %>
      <p style="color:red;"><%= flash[:error] %></p>
  <% end %>

  <p class="subheadtable" align="center"><strong>Guide name</strong> <BR> <span class="smalltext"(destination name or nickname):</span>
    <input id="calendar_name_location" class="headtextdarkerlarger" name="calendar_name_location" type="text" value="<%= params[:calendar_name_location] %>" size="20" title="location">
    FOR
    <input id="calendar_name_target" class="headtextdarkerlarger" name="calendar_name_target" type="text" value="<%= params[:calendar_name_target] %>" size="20" title="target group">
  </p>
  <p class="smalltext" align="center"> E.g., Rio for Partiers, Big Apple for Families </p>
  

  <p class="subheadtable" align="center"><strong>Use weather info for </strong><BR><span class="smalltext"(start typing destination) </span>
    <label>
      <label for="calendar_location_name"></label><br>
      <input class="ac_input" class="headtextdarkerlarger" id="calendar_location_name" name="location_name" size="20" value="<%= params[:location_name] %>" type="text">
      <input id="calendar_location_code" name="location_code" value="<%= params[:location_code] %>" type="hidden">

    </label><BR> <span class="smalltext" align="center">If you can not find your destination, type in the closest big city</span>
  </span>


  <p>&nbsp;</p>

  <div align="right"><a href="javascript:" onclick="$.Watermark.HideAll();document.new_calendar_form.submit();"><span class="textflow" align="center">NEXT</span></a></div>

  <p> </p>

</form>
<p></p>



<script type="text/javascript">
    input = $("#calendar_location_name");
    input.autocomplete('/check_location', {
        delay: 1000,
        minChars: 3,
        mustMatch: true,
        cacheLength: 1,
        matchSubset: false
    });
    input.result(function(event, data, formatted) {
        $('#calendar_location_code')[0].value = data[1];
    });

    $('#calendar_name_location').Watermark('location');
    $('#calendar_name_target').Watermark('target group');
    $('#new_calendar_form').submit(function() {
        $.Watermark.HideAll();
        return true;
    });
</script>