<div id="new-guide-places">
  <h1>Step 2: List your recomended points of interest</h1>

  <p>Enter the NAME of establishments or attractions, one per line, eg:
  <DIV style="background-color:#66FF00;color:black;width:30%;padding:5px;float:left;width:200px;margin:5px;">RIGHT:<br>Renzos Pizza<BR>Eiffel Tower<BR>Limelight Club<BR>Brigittes Bistro</div>
  <DIV style="background-color:#FF6600;color:black;width:30%;padding:5px;float:left; width:400px;margin:5px;">WRONG:<br>
  beach stroll (not a place)<br>
  Jooyes Pizza (mis-spelled)<br>
  shopping (be more specific, which mall?)<br>
Irish pub, Hard Rock cafe, Jazz club (only one tip per line!)<br></div>
<p></p>
<div style="clear:both">
    For some ideas on <b><%= h params[:calendar_name_location] %></b>, you can visit
    <a href="http://wikitravel.org/wiki/en/index.php?title=Special:Search&search=<%= h params[:location_name] %>&fulltext=Search">
      WikiTravel
    </a>
    or
    <a href="http://www.tripadvisor.com/Search?q=<%= h params[:location_name] %>&sub-search=Search&geo=&where=nav&returnTo=__2F__">
      TripAdvisor
    </a>
  </div>

  <form id="new-guide-places-form" style="overflow:hidden;" method="POST" action="<%= create_guide_path %>">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input name="step" type="hidden" value="list-places">

    <input type="hidden" name="calendar_name_location" value="<%= params[:calendar_name_location] %>">
    <input type="hidden" name="calendar_name_target" value="<%= params[:calendar_name_target] %>">
    <input type="hidden" name="location_code" value="<%= params[:location_code] %>">
    <input type="hidden" name="location_name" value="<%= params[:location_name] %>">
    

    <div class="places-box">
      <h2>Day Tours and Attractions</h2>
      <textarea name="day-places" class="textgray" cols="30" rows="20" class="places-list" onFocus="this.value=''" >Modern Art Museum 
St. Peter Church 
Wax Museum 
City Planetarium</textarea>
    </div>
    <div class="places-box">
      <h2>Dinner Restaurants</h2>
      <textarea name="dinner-places" rows="20" cols="25"  class="textgray" class="places-list" onFocus="this.value=''">Iggys Pizzaria 
Big Cow Steakhouse 
Le French Bistro</textarea>
    </div>
    <div class="places-box">
      <h2>Nightlife Spots</h2>
      <textarea name="night-places" rows="20" cols="25" class="textgray" class="places-list" onFocus="this.value=''">Brookly Jazz Club
Studio 54
Shenanigans Pub</textarea>
    </div>
  </form>

  <div class="button-panel">
    <a href="javascript:" onclick="$('#new-guide-places-form').submit();" class="button">
      Proceed to Step 3: Schedule your Points of Interest
    </a>
  </div>

</div>