

<form id="calendar_overview_form" action="<%= create_guide_path %>" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input name="step" type="hidden" value="overview">

  <input type="hidden" name="calendar_name_location" value="<%= params[:calendar_name_location] %>">
  <input type="hidden" name="calendar_name_target" value="<%= params[:calendar_name_target] %>">
  <input type="hidden" name="location_code" value="<%= params[:location_code] %>">
  <input type="hidden" name="location_name" value="<%= params[:location_name] %>">

  <p class="subhead">Tip Matrix: Add your tips for the entire week</p>
  <p><span class="text"> Name of establishment or attraction eg: Renzos Pizza, Eiffel Tower, Limelight Club</span></p>
  <table bgcolor="#547085" border="1" border-color="#222222" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
    <tr>
      <td colspan="8" bgcolor="#1E6794">
        <center>
          <font size="5"><%= h(params[:calendar_name_location]) + ' for ' + h(params[:calendar_name_target]) %></font></center>
      </td>
    </tr>

    <tr>
      <td bgcolor="#658296">Weekday</td>

      <% @weekdays.each do |day| %>
          <td><%= day.name %></td>
      <% end %>
    </tr>

    <% @conditions.each do |condition| %>
        <tr>
          <td><%= condition.full_name %></td>
          <% @weekdays.each do |day| %>
              <td>
                <input name="tip_name[<%= condition.id %>][<%= day.id %>]" size="12" type="text">
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <BR><P><div align="right"><span class="textflow" align="center"><a href="javascript:$('#calendar_overview_form').submit();">save and add details &gt;&gt;</a></span></div></P>
</form>
