<div id="new_guide_overview_page">

  <h1>Tip Matrix: Add your tips for the entire week</h1>

  <h2> <%= h(params[:calendar_name_location]) + ' for ' + h(params[:calendar_name_target]) %> </h2>

  Drag places onto the map. Click to edit.
  <div id="place-pool">
    <% @places.each do |place| %>
        <div class="place-tag">
          <a title="edit" href="javascript:"><%= h place %></a>
          <input type="text" style="display:none" value="<%= h place %>" maxlength="25" autocomplete="off">
        </div>
    <% end %>
  </div>




  <form id="calendar_overview_form" action="<%= create_guide_path %>" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input name="step" type="hidden" value="overview">

    <input type="hidden" name="calendar_name_location" value="<%= params[:calendar_name_location] %>">
    <input type="hidden" name="calendar_name_target" value="<%= params[:calendar_name_target] %>">
    <input type="hidden" name="location_code" value="<%= params[:location_code] %>">
    <input type="hidden" name="location_name" value="<%= params[:location_name] %>">


    <div id="selected-tips">
      <div class="table-row">
        <div class="table-cell table-label"></div>
        <% @weekdays.each do |day| %>
            <div class="table-cell table-label">
              <%= day.name %>
            </div>
        <% end %>
      </div>
      <% @conditions.each do |condition| %>
          <div class="table-row">
            <div class="table-cell table-label">
              <%= condition.full_name %>
            </div>
            <% @weekdays.each do |day| %>
                <div class="table-cell placeholder" condition_id="<%=condition.id%>" weekday_id="<%=day.id%>"></div>
            <% end %>
          </div>
      <% end %>
    </div>

  </form>

  <div class="button-panel">
    <a href="javascript:" onclick="$('#calendar_overview_form').submit();" class="button">
      save and add details &gt;&gt;
    </a>
  </div>


</div>


<script>
    $(document).ready(function() {
        function initTags(root) {
            var tags;
            if (root.hasClass('place-tag')) {
                tags = root;
            } else {
                tags = root.find('.place-tag');
            }

            // edit tag
            tags.find('a').click(function() {
                $(this).hide();
                $(this).parent().find('input').show().focus();
            });
            tags.find('input').blur(function() {
                var val = $(this).val();
                if (common.trim(val) == '') {
                    $(this).parent().remove();
                    return;
                }
                $(this).hide();
                $(this).parent().find('a').text(val).show();
            });

            // drag'n'drop
            tags.draggable({
                revert: 'invalid',
                helper: 'clone'
            });
        }
        initTags($('#place-pool'));


        $('#place-pool').droppable({
            accept: ".place-tag",
            hoverClass: 'droppable-active',
            drop: function(ev, ui) {
                var place = $(this);
                ui.draggable.appendTo(place);
                ui.draggable.css('left', 0).css('top', 0);
            }
        });

        function addTag(place, tag) {
            var condition_id = place.attr('condition_id');
            var weekday_id = place.attr('weekday_id');
            if (condition_id != null && weekday_id != null) {
                tag.find('input').attr('name', 'tip_name[' + condition_id + '][' + weekday_id + ']');
            }
            place.append(tag);
        }
        $('#selected-tips .placeholder').droppable({
            accept: ".place-tag",
            hoverClass: 'droppable-active',
            drop: function(ev, ui) {
                var place = $(this);
                if (place.find('.place-tag').length > 0) {
                    // switch places
                    addTag(ui.draggable.parent(), place.find('.place-tag'));
//                    place.find('.place-tag').appendTo(ui.draggable.parent());
                }
                addTag(place, ui.draggable);
//                ui.draggable.appendTo(place);
                ui.draggable.css('left', 0).css('top', 0);
            }
        });
        $('#selected-tips .placeholder').click(function() {
            if (common.trim($(this).html()) != '') {
                return;
            }
            var tag = $('<div></div>').addClass('place-tag');
            tag.append($('<a></a>').attr('href', 'javascript:').attr('title', 'edit').hide());
            tag.append($('<input>').attr('type', 'text').attr('maxlength', 25).attr('autocomplete', 'off'));
            $(this).append(tag);
            initTags(tag);
            tag.find('input').focus();
        });
    });
</script>