<div id="new_guide_overview_page">

  <form id="calendar_overview_form" action="<%= create_guide_path %>" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input name="step" type="hidden" value="overview">

    <input type="hidden" name="calendar_name_location" value="<%= params[:calendar_name_location] %>">
    <input type="hidden" name="calendar_name_target" value="<%= params[:calendar_name_target] %>">
    <input type="hidden" name="location_code" value="<%= params[:location_code] %>">
    <input type="hidden" name="location_name" value="<%= params[:location_name] %>">

    <h1>Tip Matrix: Add your tips for the entire week</h1>

    <p>Name of establishment or attraction eg: Renzos Pizza, Eiffel Tower, Limelight Club</p>

    <table border="1" cellpadding="10" cellspacing="0" style="width:100%;background-color:#547085;">
      <tbody>
      <tr>
        <td colspan="8" bgcolor="#1E6794">
          <center>
            <font size="5"><%= h(params[:calendar_name_location]) + ' for ' + h(params[:calendar_name_target]) %></font>
          </center>
        </td>
      </tr>

      <tr>
        <td bgcolor="#658296">Weekday</td>

        <% @weekdays.each do |day| %>
            <td><%= day.name %></td>
        <% end %>
      </tr>

      <% @conditions.each do |condition| %>
          <tr>
            <td><%= condition.full_name %></td>
            <% @weekdays.each do |day| %>
                <td>
                  <input name="tip_name[<%= condition.id %>][<%= day.id %>]" size="12" class="text-limit" type="text"
                         value="<%=params['tip_name'][condition.id.to_s][day.id.to_s]%>" textLimit="25">
                </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>


    <div class="button-panel">
      <a href="javascript:" onclick="$('#calendar_overview_form').submit();" class="button">
        save and add details &gt;&gt;
      </a>
    </div>

  </form>


</div>
    