Test printing here.

<form id="book-preview" action="/books/<%= @book.id %>/update" method="post">
  <p>Adjust presentation of your book and then
  <a href="javascript:" onclick="guide.preview_book();">click here to preview pdf</a>.</p>

  <p>Drag to rearrange order.</p>
  <div class="tips-order clear-fix">
    <% @book.book_tips.each do |book_tip| %>
        <% tip = book_tip.tip %>
        <div class="tip" title="<%= h tip.condition.full_name %> - <%= h tip.name %>">
          <% if tip.image.file? %>
              <%= image_tag tip.image.url(:thumb), {:style=> "width:40px;top:40px;", :draggable => 'false'} %>
          <% else %>
              <%= h tip.name %>
          <% end %>
          <input type="hidden" name="tips[<%= book_tip.id %>]rank" value="<%= book_tip.rank %>" class="rank">
        </div>
    <% end %>
  </div>

  <p>Changes made here do <b>not</b> affect guide itself.</p>
  <div class="tips-data">
    <% @book.book_tips.each do |book_tip| %>
        <% tip = book_tip.tip %>

        <% fields_for "tips[#{book_tip.id}]", book_tip do |form| %>
        <div class="tip">
          <div class="image" data-original-width="<%= tip.image_width %>" data-original-height="<%= tip.image_height %>"
            title="Drag image to adjust cropping.">
            <% if tip.image.file? %>
                <% window_width = 500 %>
                <% window_height = 250 %>
                <% scroll_x = tip.image_height * Book::BOOK_PROPORTION < tip.image_width %>
                <% if scroll_x %>
                    <% k = window_height * 1.0 / tip.image_height %>
                    <% full_width = k * tip.image_width %>
                    <div class="container scroll-x" style="left:<%= window_width - full_width %>px;width:<%= 2 * full_width - window_width %>px;">
                        <%= image_tag tip.image.url(:original), {:style=> "height:#{window_height}px;left:#{full_width - window_width - book_tip.image_offset_x * k}px;", :draggable => 'false'} %>
                    </div>
                <% else %>
                    <% k = window_width * 1.0 / tip.image_width %>
                    <% full_height = k * tip.image_height %>
                    <div class="container scroll-y" style="top:<%= window_height - full_height %>px;height:<%= 2 * full_height - window_height %>px;">
                        <%= image_tag tip.image.url(:original), {:style=> "width:#{window_width}px;top:#{full_height - window_height - book_tip.image_offset_y * k}px;", :draggable => 'false'} %>
                    </div>
                <% end %>

                <!--<input type="hidden" name="tips[<%= book_tip.id %>]image_offset_y" value="<%= book_tip.image_offset_y %>" class="offset-top">
                <input type="hidden" name="tips[<%= book_tip.id %>]image_offset_x" value="<%= book_tip.image_offset_x %>" class="offset-left">-->

                <%= form.hidden_field :image_offset_y, :class => 'offset-top' %>
                <%= form.hidden_field :image_offset_x, :class => 'offset-left' %>
            <% else %>
                <div class="no-image">No image</div>
            <% end %>
          </div>

          <div class="text">
            <%= render :partial => 'input_widget', :locals => {:name => 'name', :original_value => tip.name, :form => form} %>
            <%= render :partial => 'input_widget', :locals => {:name => 'url', :original_value => tip.url, :form => form} %>
            <%= render :partial => 'input_widget', :locals => {:name => 'address', :original_value => tip.address.address, :form => form} %>
            <%= render :partial => 'input_widget', :locals => {:name => 'phone', :original_value => tip.phone, :form => form} %>
            <%= render :partial => 'input_widget', :locals => {:name => 'description', :original_value => tip.description, :input_control => form.text_area(:description)} %>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</form>


<div class="button-panel">
  <a href="javascript:" onclick="guide.save_book();" class="button">
    Save book
  </a>
  <a href="javascript:" onclick="guide.preview_book();" class="button">
    Save book and preview PDF
  </a>
</div>



<form action="<%= GOOGLE_CHECKOUT[:form_url] %>"
      id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
  <table cellpadding="5" cellspacing="0" width="1%">
    <tr>
      <td align="right" width="1%">
        <select name="item_selection_1">
          <option value="1">$300.00 - Printed Guide, 200 items</option>
          <option value="2">$900.00 - Printed Guide, 1000 items</option>
        </select>
        <input name="item_option_name_1" type="hidden" value="Printed Guide, 200 items"/>
        <input name="item_option_price_1" type="hidden" value="300.0"/>
        <input name="item_option_description_1" type="hidden" value=""/>
        <input name="item_option_quantity_1" type="hidden" value="1"/>
        <input name="item_option_currency_1" type="hidden" value="USD"/>
        <input name="item_option_name_2" type="hidden" value="Printed Guide, 1000 items"/>
        <input name="item_option_price_2" type="hidden" value="900.0"/>
        <input name="item_option_description_2" type="hidden" value=""/>
        <input name="item_option_quantity_2" type="hidden" value="1"/>
        <input name="item_option_currency_2" type="hidden" value="USD"/>
      </td>
      <td align="left" width="1%">
        <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=<%= GOOGLE_CHECKOUT[:id] %>&amp;w=117&amp;h=48&amp;style=trans&amp;variant=text&amp;loc=en_US"
               onclick="return guide.order_book();" type="image" class="submit"/>
      </td>
    </tr>
  </table>

  <input type="hidden" name="shopping-cart.merchant-private-data" value="<%= @book.id %>" class="book-id">
</form>
