<h1>Search results for <i>"<%= params[:search_location] -%>"</i> </h1>

<h2><%= format_number @cities.length, 'city' %> found</h2>

<div>
  <%= @cities.map {|city| city_link city}.join(', ') %>
</div>

<h2><%= format_number @guides.length, 'guide' %> found</h2>

<div style="width:950px">

<table id="calendar_search_result" width=950px class="display" border="0" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <th class="sorting">Name</th>
    <th class="sorting">Location</th>
    <th class="sorting">Author</th>
    <!--<th class="sorting">Views</th>-->
    <th class="sorting">Rating</th>
    <th class="sorting">Completed</th>
    <th class="sorting">Created</th>
  </tr>
  </thead>

  <tbody>
<% @guides.each do |guide| %>
  <tr>
    <td><span class="headtextlighter">
      <%= guide_link(guide) %>
    </span></td>
    <td><%=h guide.location.name %></td>
    <td><%= link_to guide.user.name, show_user_path(:id => guide.user) %></td>
    <!--<td><%= h guide.view_count %></td>-->
    <td><%=h guide.rating_str %></td>
    <td><%=h guide.completed_percentage %>%</td>
    <td><%=h guide.created_at.strftime "%B %d, %Y" %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>


<br />


<!--<div style="background-color:red;padding:2px;display:table;">-->
<!--<div class="fieldWithErrors">
<input class="watermark" name="search_location" id="search_location" value="" type="text" title="type destination here">
</div>-->

<script type="text/javascript">
    $(document).ready(function() {
        $('#calendar_search_result').dataTable({
            'aoColumns': [
                {},
                {},
                {},
//                {},
                {},
                {"sType": "percent"},
                {}
            ]
        });
    });
// percent       
</script>


