<h1>Preview and get widget code</h1>

Add those imports to the 'head' tag of your page.
<textarea id="preview_import" rows="4" cols="120">
  <% escape do %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="<%=WEB_ROOT%>/public.js" ></script>
  <% end %>
</textarea>


<P>Choose your prefered widget dimensions:</p>
<div id="choose_style">
<% @layouts.each do |layout|  %>
    <label for="preview_type_<%=layout.id%>"><%= layout.name %></label>
    <input type="radio" name="preview_type" id="preview_type_<%=layout.id%>" onchange="change_style(this);"/>
<% end %>
</div>
      <!--<p> Tiny= 200 pixels wide, Small= 300 pixels wide, Normal= 600 pixels wide</P>-->


<textarea id="preview_html" rows="7" cols="120"></textarea>

<P>Copy and paste the html code above any where in between your &lt; BODY &gt; tags in your html page.</P>     
<p><span class="headtextlighter">What your widget looks like</span></p>
<div id="preview_guide" class=""></div>

<div id="preview_template" class="hidden">
  <% escape do %>
    <div class="guiderer" guide_id="{calendar_id}" guide_style="{style_id}">
      <%= link_to "Find more #{@calendar.name_location} guides on Guiderer!", search_url(:search_location => @calendar.location.name) %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    var change_pane = function(id) {
        $('.preview_area').hide();
        $('#' + id + '_area').show();
    };
    var change_style = function(el) {
        var target_id = "preview_guide";
        var calendar_id = "<%= @calendar.id %>";
        var style_id = el.id.substring("preview_type_".length);

        // prepare code to show
        var html = $('#preview_template').html();
        html = html.replace("{target_id}", target_id);
        html = html.replace("{calendar_id}", calendar_id);
        html = html.replace("{style_id}", style_id);
        html = html.replace(/&lt;/g, '<');
        html = html.replace(/&gt;/g, '>');
        $('#preview_html').val(html);

        var target = $('#' + target_id);
        target.attr('guide_id', calendar_id);
        target.attr('guide_style', style_id);
        target.addClass("guiderer");
//        alert(target.length);
        _guiderer.render(target);
    };

    $('#choose_style').buttonset();
</script>
