<h1>Overview of "<%= h @calendar.name %>" Guide</h1>
<b>Location:</b>      <%= h @calendar.location.name %>  <b> | Times Viewed:</b>
<%= h @calendar.view_count %>
<b> | Times Clicked:</b>
<%= h @calendar.click_count %>

<p>
</p>


<div id="view_tips">

  <table width="100%" border="1" cellpadding="10" cellspacing="0">

    <tr>
      <th></th>
      <% @weekdays.each do |day| %>
          <th width="100px">
            <%= day.name %>
            <% if @full_access %>
                <br/>
                <a href="/guides/<%= @calendar.id %>/edit#<%= day.name %>">edit</a>
            <% end %>
          </th>
      <% end %>
    </tr>

    <% prev_cond = Condition.new %>
    <% @conditions.each do |condition| %>

        <!-- horizontal labels for 'day', 'dinner' and 'nigthlife' -->
        <% if condition.group != prev_cond.group %>
            <tr>
              <td class="headtext" colspan="20" align="center" style="background-color:blue;">
                <%= condition.group %>
              </td>
            </tr>
        <% end %>
        <% prev_cond = condition %>

        <tr>
          <td>
            <%= condition.weather ? condition.weather : '' %> <%= condition.name %>
            <% if @full_access %>
                <br/>
                <a href="/guides/<%= @calendar.id %>/edit#<%= condition.name %>">edit</a>
            <% end %>
          </td>
          <% @weekdays.each do |day| %>
              <% place = @calendar.show_places.detect { |t| t.condition.id == condition.id and t.weekday.id == day.id } %>
              <% tip = place == nil ? nil : place.tip %>

              <td valign="top" class="tip-container" condition_id="<%= condition.id %>" day_id="<%= day.id %>">
                <% if tip != nil then %>

                    <div class="tip" tip_id="<%= tip.id %>" place_id="<%= place.id %>" calendar_id="<%= @calendar.id %>">

                      <% if @full_access %>
                      <table width=100% align="right">
                        <tr>
                          <td>
                            <!--move tip-->
                            <div class="move-tip"></div>
                          </td>
                          <td width=20px>
                            <!--delete tip-->
                            <div class="delete-tip"></div>
                          </td>
                        </tr>
                      </table>
                      <% end %>

                      <!-- tip statistics -->
                      <span class="headtextdarker"><b><%= tip.name %></b><br/></span>
                        <span class="textgray">
                          Views= <%= tip.view_count %>
                          Clicks= <%= tip.click_count %>
                        </span>
                    </div>

                <% else %>
                    <div class="no-tip" align="center"><BR>no tip<BR><BR></div>
                <% end %>
              </td>


          <% end %>
        </tr>
    <% end %>

  </table>
</div>


<BR><BR>
<div align="right">
  <a href="/guides/<%= @calendar.id %>/share" class="textflow">view live version and get script</a>
</div>
