<p style="overflow:hidden;">
<% if @guide.image.file? %>
    <%= image_tag @guide.image.url(:thumb), {:align=>"left", :style=>"margin-right:10px;"} %>
<% end %>
<%= h @guide.description %>
</p>


<%= render :partial => 'calendars/widget', :locals => {:guide => @guide, :style_id => '4'} %>



<h1>Points of Interest Map</h1>

<%= render :partial => 'map', :locals => {:guide => @guide} %>

<div class="button-panel">
  <a href="/guides?search_location=<%= @guide.location.name %>" class="button">
    More guides on <%= h @guide.location.name %> </a>
  <a href="/users/<%= @guide.user.id %>" class="button">
    More by <%= @guide.user.name %>
  </a>
  <a href="/guides/<%= @guide.id %>/share" class="button">
    Embed on your site
  </a>
  <a href="/" class="button">
    Create your own guide
  </a>
</div>

