<h1>Calendar Overview</h1>

    <p>
      <b>Name:</b>
      <%= h @calendar.name %>
    </p>

    <p>
      <b>Location:</b>
      <%= h @calendar.location.name %>
    </p>

<p>
  <b>Times Viewed:</b>
  <%= h @calendar.view_count %><br/>
  <b>Times Clicked:</b>
  <%= h @calendar.click_count %>
</p>

<p>
</p>

    <table width="100%"  border="1" cellpadding="10" cellspacing="0">

      <tr>
        <th></th>
        <% @weekdays.each do |day| %>
            <th>
              <%= day.name %><br/>
              <a href="/calendars/<%=@calendar.id%>/edit#<%=day.name%>">edit</a>
            </th>
        <% end %>
      </tr>

      <% @conditions.each do |condition| %>
          <tr>
            <td>
              <%= condition.name %><br/>
              <a href="/calendars/<%=@calendar.id%>/edit#<%=condition.name%>">edit</a>
            </td>
            <% @weekdays.each do |day| %>
                <% place = @calendar.show_places.detect{|t| t.condition.id == condition.id and t.weekday.id == day.id} %>
                <% tip = place == nil ? nil : place.tip %>
                  <% if tip != nil then %>
                    <td>
                      <%= tip.name %><br/>
                      Viewed <%= tip.view_count %> time<%= tip.view_count != 1 ? 's' : '' %><br/>
                      Clicked <%= tip.click_count %> time<%= tip.click_count != 1 ? 's' : '' %><br/>
                    </td>
                  <% else %>
                    <td style="background-color:lightgray;">
                      no tip<br/>
                    </td>
                  <% end %>
            <% end %>
          </tr>
      <% end %>

    </table>

<%# link_to 'Back', calendars_path %>
         <BR><BR>
<div align="right">
  <a href="/calendars/<%=@calendar.id%>/share" class="textflow">view live version and get script</a>
</div>

