<% form_tag("/calendars/#{@calendar.id}/tips/update", :method => "post", :id => 'edit_tips_form') do %>

  <table border="1" cellpadding="10" cellspacing="0" width="100%">

    <tbody>

    <% @conditions.each do |condition| %>
        <% tip = @calendar.show_places.detect { |t| t.condition.id == condition.id and t.weekday.id == @edit_for.id and !t.tip.advertisement } %>
        <% if tip != nil then %>
               <%= render :partial => 'tips/edit_row', :locals => {:place => tip} %>
        <% else %>
            <tr id="tip_cond_<%=condition.id%>">
              <td colspan="4">
                <%= condition.name %>
                <button type="button" onclick="tips.create(this.parentNode.parentNode, <%=condition.id%>, <%=@edit_for.id%>);">create tip</button>
              </td>
            </tr>
        <% end %>
    <% end %>

          </tbody></table>

    <p class="textflow" align="center">
      <% if !@edit_for.last? %>
          <a href="javascript:" onclick="tips.save('edit_tips_form', <%= @calendar.id %>, function() {$('#edit_calendar_by_weekday').tabs('select', <%= @edit_for.id %>);});">
            save and create <%= @edit_for.next.name %> tips &gt;&gt;
          </a>
      <% end %>
    </p>

    <p class="textflow" align="center">
      <a href="javascript:" onclick="tips.save('edit_tips_form', <%= @calendar.id %>);">save</a>
    </p>

    <!--<p class="textflow" align="center">
      <a href="javascript:" onclick="$('#edit_calendar_by_weekday').tabs('select', <%= @edit_for.id - 1 %>);">discard</a>
    </p>-->
<% end %>


<div id="new_tip" style="display:none;">
  <% form_tag("/calendars/#{@calendar.id}/tips/create", :method => "post", :id => 'new_tip_form') do %>
    <input id="new_tip_name" name="new_tip_name"/>
  <% end %>
</div>

<div id="global-loading-indicator" style="display:none;top:50%;left:50%;position:fixed;z-index:2147483640;width:100px;height:50px;">
  <img src="/images/loading-indicator.gif">
  <br/>
</div>

<!--
<div id="global-loading-indicator" style="display:none;position:absolute;left:50%;top:50%">
  <div style="vertical-align:middle;text-align:center;width:100%;height:20%;">
  <img src="/images/loading-indicator.gif" style="border:none;margin:20px;">
  </div>
</div>
-->
