<h1>Editing your ads.</h1>



    <table width="100%" border="1" cellspacing="0" cellpadding="10">

      <tr>
        <th></th>
        <% @weekdays.each do |day| %>
            <th><%= day.name %></th>
        <% end %>
      </tr>

      <% @conditions.each do |condition| %>
          <tr>
            <td><%= condition.name %></td>
            <% @weekdays.each do |day| %>
                <% tip = @calendar.tips.detect {|t| t.condition.id == condition.id and t.weekdays.include?(day)} %>
                  <% if tip != nil then %>
                    <td>
                      <%= tip.name %><br/>
                    </td>
                  <% else %>
                    <td style="background-color:lightgray;">
                      no tip<br/>
                    </td>
                  <% end %>
            <% end %>
          </tr>

          <tr>
            <td>your tips</td>
            <% @weekdays.each do |day| %>
                <% ad = @ads.detect {|t| t.condition.id == condition.id and t.weekday.id == day.id} %>
                  <% if ad != nil then %>
                    <% tip = @calendar.tips.detect {|t| t.condition.id == condition.id and t.weekdays.include?(day) and t.author_id == @current_user.id and t.advertisement} %>
                    <% if tip != nil then %>
                        <td  bgcolor="#99ff99">
                          <%= tip.name %><br/>
                          <%= link_to "edit tip", edit_tip_path(:id => @calendar.id, :tip_id => tip.id) %><br/>
                          Viewed <%= times ad.views_total %><br/>
                          Paid for <%= ad.views_paid %> views<br/>
                        </td>
                    <% else %>
                        <td style="background-color:red;">
                          no tip<br/>
                          <%= link_to "create tip", new_tip_path(:id => @calendar.id, :dow => day.id, :condition_id => condition.id, :ad => true), :method => :post %>
                          Viewed <%= times ad.views_total %><br/>
                          Paid for <%= ad.views_paid %> views<br/>
                        </td>
                    <% end %>
                  <% else %>
                    <td bgcolor="gray">
                      no ad here<br/>
                      <!--<%= link_to "book ad", :controller => :calendars, :action => :advertise_choose, :id => @calendar.id %>-->

                    </td>
                  <% end %>
            <% end %>
          </tr>
      <% end %>

    </table>


<%= link_to 'Show', @calendar %> |
<%= link_to 'Back', calendars_path %>