<% form_for(@calendar, :url => advertise_new_path(:id => @calendar), :html => {:method => :post}) do |f| %>
    <table bgcolor="#ffffcc" border="1" cellpadding="10" cellspacing="0" width="100%">
      <tbody>
      <tr>
        <td colspan="8" bgcolor="#ffcc33">
          <center>
            <font size="5"><%= @calendar.name %></font>
          </center>
        </td>
      </tr>

      <tr>
        <th>Weekday</th>
        <% @weekdays.each do |day| %>
            <th><%= day.name %></th>
        <% end %>
      </tr>


      <% @conditions.each do |condition| %>
          <tr>
            <td><%= condition.name %></td>
            <% @weekdays.each do |day| %>
                <% tip = @calendar.tips.detect { |t| t.condition.id == condition.id and t.weekdays.include?(day) } %>
                <% if tip != nil %>
                    <td>
                      <%= tip.name %>
                    </td>
                <% else %>
                    <td style="background-color:lightgray;">
                      no tip
                    </td>
                <% end %>
            <% end %>
          </tr>


          <tr>
            <td bgcolor="#99ff99">
              <center>
                Advertise here in available spots during the week: <br>
                <input name="condition_<%= condition.id %>[]" value="all" id="<%= condition.id %>_all" type="checkbox" onchange="ad_choose_all(this);">
                YES<br>
                $9/CPM (save 10%)
              </center>
            </td>

            <% @weekdays.each do |day| %>
                <% ad = @ads.detect { |t| t.condition.id == condition.id and t.weekday.id == day.id } %>
                <% tip = @calendar.tips.detect { |t| t.condition.id == condition.id and t.weekdays.include?(day) } %>
                <% if tip == nil %>
                    <td bgcolor="lightgray">
                      <!--<strong>No Tip</strong>-->
                    </td>
                <% elsif ad == nil %>
                    <td bgcolor="#99ff99"><label></label>
                      <center>
                        <strong>Spot available, </strong>advertise here: <br>
                        <input name="condition_<%= condition.id %>[]" value="<%= day.id %>" type="checkbox">
                        YES<br>
                        $10/CPM
                      </center>
                    </td>
                <% else %>
                    <td bgcolor="#ff9966">
                      <strong>Spot Taken</strong>
                      <!--<br>
                    get in waiting list
                      <input name="checkbox4" id="checkbox4" type="checkbox">
                    YES<br>
                    <font size="1">expected availability: 15th may 2010</font>-->
                    </td>

                <% end %>
            <% end %>

          </tr>
      <% end %>


      </tbody>
    </table>
    <p align="center"><%= f.submit 'Advertise on selected spots' %></p>
<% end %>

<script type="text/javascript">
    var ad_choose_all = function(el) {
        $('input[name=' + el.name + ']').each(function(index) {
            if (this.value != 'all') {
                if (el.checked) {
                    this.checked = true;
                    this.disabled = true;
                } else {
                    this.disabled = false;
                    this.checked = false;
                }
            }
        });
    }
</script>