<h1>Search results for <i>"<%= params[:search_location] -%>"</i> </h1>

<div style="width:800px">

<table id="calendar_search_result" style="width: 800px;" class="display" border="0" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <th class="sorting">Name</th>
    <th class="sorting">Location</th>
    <th class="sorting">Author</th>
    <th class="sorting">Views</th>
    <th class="sorting">Created</th>
  </tr>
  </thead>

  <tbody>
<% @calendars.each do |calendar| %>
  <tr>
    <td><%= link_to calendar.name, calendar %></td>
    <td><%=h calendar.location.name %></td>
    <td><%= link_to calendar.user.name, show_user_path(:id => calendar.user) %></td>
    <td><%=h calendar.view_count %></td>
    <td><%=h calendar.created_at.strftime "%B %d, %Y" %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>


<br />


<!--<div style="background-color:red;padding:2px;display:table;">-->
<!--<div class="fieldWithErrors">
<input class="watermark" name="search_location" id="search_location" value="" type="text" title="type destination here">
</div>-->

<script type="text/javascript">
    $(document).ready(function() {
        $('#calendar_search_result').dataTable();
    });
</script>



<!--<table style="width: 800px;" class="display" id="example" border="0" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th class="sorting_asc" style="width: 130px;">Rendering engine</th>
			<th class="sorting" style="width: 169px;">Browser</th>

			<th class="sorting" style="width: 216px;">Platform(s)</th>
			<th class="sorting" style="width: 107px;">Engine version</th>
			<th class="sorting" style="width: 66px;">CSS grade</th>
		</tr>
	</thead>
	<tbody><tr class="gradeA odd">
			<td class=" sorting_1">Gecko</td>

			<td>Firefox 1.0</td>
			<td>Win 98+ / OSX.2+</td>
			<td class="center">1.7</td>
			<td class="center">A</td>
		</tr><tr class="gradeA even">
			<td class=" sorting_1">Gecko</td>

			<td>Firefox 1.5</td>
			<td>Win 98+ / OSX.2+</td>
			<td class="center">1.8</td>
			<td class="center">A</td>
		</tr><tr class="gradeA odd">
			<td class=" sorting_1">Gecko</td>

			<td>Firefox 2.0</td>
			<td>Win 98+ / OSX.2+</td>
			<td class="center">1.8</td>
			<td class="center">A</td>
		</tr><tr class="gradeA even">
			<td class=" sorting_1">Gecko</td>

			<td>Firefox 3.0</td>
			<td>Win 2k+ / OSX.3+</td>
			<td class="center">1.9</td>
			<td class="center">A</td>
		</tr><tr class="gradeA odd">
			<td class=" sorting_1">Gecko</td>

			<td>Camino 1.0</td>
			<td>OSX.2+</td>
			<td class="center">1.8</td>
			<td class="center">A</td>
		</tr><tr class="gradeA even">
			<td class=" sorting_1">Gecko</td>

			<td>Camino 1.5</td>
			<td>OSX.3+</td>
			<td class="center">1.8</td>
			<td class="center">A</td>
		</tr><tr class="gradeA odd">
			<td class=" sorting_1">Gecko</td>

			<td>Netscape 7.2</td>
			<td>Win 95+ / Mac OS 8.6-9.2</td>
			<td class="center">1.7</td>
			<td class="center">A</td>
		</tr><tr class="gradeA even">
			<td class=" sorting_1">Gecko</td>

			<td>Netscape Browser 8</td>
			<td>Win 98SE+</td>
			<td class="center">1.7</td>
			<td class="center">A</td>
		</tr><tr class="gradeA odd">
			<td class=" sorting_1">Gecko</td>

			<td>Netscape Navigator 9</td>
			<td>Win 98+ / OSX.2+</td>
			<td class="center">1.8</td>
			<td class="center">A</td>
		</tr><tr class="gradeA even">
			<td class=" sorting_1">Gecko</td>

			<td>Mozilla 1.0</td>
			<td>Win 95+ / OSX.1+</td>
			<td class="center">1</td>
			<td class="center">A</td>
		</tr></tbody>
	<tfoot>
		<tr>

			<th>Rendering engine</th>
			<th>Browser</th>
			<th>Platform(s)</th>
			<th>Engine version</th>
			<th>CSS grade</th>
		</tr>

	</tfoot>
</table>-->
