<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.qtip-1.0.0-rc3.js"></script>
<script type="text/javascript" src="http://0.0.0.0:3000/public.js" ></script>

<p>
  <b>Name:</b>
  <%= h @calendar.name %>
</p>

<p>
  <b>Location:</b>
  <%= h @calendar.location.name %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
<br/>
<br/>
<br/>

Preview and get code<br/>
<label for="preview_type_tiny">tiny</label>
<input type="radio" name="preview_type" value="tiny" id="preview_type_tiny" checked="checked" onchange="change_pane(this.id);"/>
<label for="preview_type_small">small</label>
<input type="radio" name="preview_type" value="small" id="preview_type_small" onchange="change_pane(this.id);"/>
<label for="preview_type_normal">normal</label>
<input type="radio" name="preview_type" value="normal" id="preview_type_normal" onchange="change_pane(this.id);"/>
<br/>

<div id="preview_type_tiny_area" class="preview_area" style="">
  <p>
    Use following code to insert calendar in your page.
    <br/>
    <textarea rows="8" cols="150">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
      <script type="text/javascript" src="http://0.0.0.0:3000/public.js" ></script>
      <div id="calendar_area"> </div>
      <script type="text/javascript">
          _cal.render_calendar("calendar_area", <%= @calendar.id %>, "tiny");
      </script>
    </textarea>
  </p>

  <div id="calendar_area1"> </div>
  <script type="text/javascript">
      _cal.render_calendar("calendar_area1", <%= @calendar.id %>, "tiny");
  </script>
</div>

<div id="preview_type_small_area" class="preview_area" style="display:none;">
  <p>
    Use following code to insert calendar in your page.
    <br/>
    <textarea rows="8" cols="150">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
      <script type="text/javascript" src="http://0.0.0.0:3000/public.js" ></script>
      <div id="calendar_area"> </div>
      <script type="text/javascript">
          _cal.render_calendar("calendar_area", <%= @calendar.id %>, "small");
      </script>
    </textarea>
  </p>

  <div id="calendar_area2"> </div>
  <script type="text/javascript">
      _cal.render_calendar("calendar_area2", <%= @calendar.id %>, "small");
  </script>
</div>


<div id="preview_type_normal_area" class="preview_area" style="display:none;">
  <p>
    Use following code to insert calendar in your page.
    <br/>
    <textarea rows="8" cols="150">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
      <script type="text/javascript" src="http://0.0.0.0:3000/public.js" ></script>
      <div id="calendar_area"> </div>
      <script type="text/javascript">
          _cal.render_calendar("calendar_area", <%= @calendar.id %>, "normal");
      </script>
    </textarea>
  </p>



  <div id="calendar_area3"> </div>
  <script type="text/javascript">
      _cal.render_calendar("calendar_area3", <%= @calendar.id %>, "normal");
  </script>
</div>

<script type="text/javascript">
    var change_pane = function(id) {
        $('.preview_area').hide();
        $('#' + id + '_area').show();
    }
</script>





