<div class="tip-show">
  <div class="arrow"></div>

  <div class="tip-name">
    <% if !tip.url.blank? %>
        <a href="/guides/<%= tip.calendar.id %>/tips/<%= tip.id %>/url" target="_blank">
            <%= h tip.name %>
        </a>
    <% else %>
        <%= h tip.name %>
    <% end %>
  </div>

  <div class="tip-details">
    <% if tip.image_exists? %>
        <%= image_tag tip.image.url(:original), {:align=>"left", :style=>"margin:10px;max-height:300px;max-width:300px;"} %>
    <% else %>
    <% end %>

    <% if !tip.address.blank? -%>
        <p>
          Address: <%= h tip.address %>
        </p>
    <% end -%>
    <% if !tip.phone.blank? %>
        <p>
          Phone: <%= h tip.phone %>
        </p>
    <% end %>
    <% if !tip.url.blank? %>
        <p> Url:
        <a href="/guides/<%= tip.calendar.id %>/tips/<%= tip.id %>/url" target="_blank">
            <%= h tip.url %>
        </a>
        </p>
    <% end %>


  </div>

  <div class="tooltip-row">
    <% if !tip.attraction.nil? && tip.attraction.lat != 0 %>
      <span class="tip-map">
        <a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=<%= tip.attraction.lat %>+<%= tip.attraction.lng %>&amp;z=16" target="_blank">
          Directions and Map
        </a>:<br/>
        <img src="http://maps.google.com/maps/api/staticmap?maptype=roadmap&amp;format=gif&amp;sensor=false&amp;size=200x200&amp;zoom=13&amp;markers=<%= tip.attraction.lat %>,<%= tip.attraction.lng %>"/>
      </span>
    <% end %>


      <%= h tip.description %>




    <!--
    <div class="twits-all">
      <div class="twits-container">
        <h4><%=h tip.name %> tweets</h4>
        <div class="twits" data-query="<%= h(tip.calendar.location.short_name + ' ' + tip.name) %>">
          Loading...
        </div>
      </div>
      <div class="twits-container">
        <h4><%= tip.condition.full_name %> tweets</h4>
        <div class="twits" data-query="<%= h(tip.calendar.location.short_name + ' ' + tip.condition.full_name) %>">
          Loading...
        </div>
      </div>
    </div>
    -->
  </div>
</div>