<% tip = place.tip %>


<div  id="tips_<%= place.id %>" class="tipRoot" form_prefix="tips[<%= tip.id %>]" city="<%= place.calendar.location.name %>" style="height:250px;padding:10px;">


<% fields_for "tips", tip, :index => tip.id do |tip_form| %>

<div style="position: relative;float: left; width: 49%;">

  <div style="padding-right:10px;">
  <div style="height:40px;">
    Name
    <span style="float:right;">
      <a href="javascript:" class="local-search-launch" title="use name to suggest address, phone and url" onclick="tips.loadLocalSuggestions(this);">autofill</a>
      <div class="local-search-container" style="position:absolute;background-color:white;display:none;border: 1px solid black;width:260px;"></div>
      <%= tip_form.text_field :name, :size => 30, :class => 'tip_name' %>
    </span>
  </div>
  <div style="height:40px;">
    <%= tip_form.label :url %> <%= tip_form.text_field :url, :size => 30, :class => 'tip_url', :style => "float:right;" %>
  </div>
  <div style="display:block;">
    <%= tip_form.label :description %>
    <span style="float:right;"><%= tip_form.text_area(:description, :rows => 8, :cols => 35) %></span>
  </div>
  </div>
</div>

<div style="position: relative;float: left; width: 50%;">
  <div style="padding-left:10px;">
  <div style="height:40px;">
    <% tip_form.fields_for tip.address do |address_form| %>
        <%= address_form.label :address, 'Street Address' %>
        <%= address_form.text_field :address, :size => 30, :class => 'tip_address_street', :style => "float:right;" %>
        <%= address_form.hidden_field :lat, :class => 'tip_address_lat' %>
        <%= address_form.hidden_field :lng, :class => 'tip_address_lng' %>
    <% end %>
  </div>

  <div style="height:40px;">
    <%= tip_form.label :phone %> <%= tip_form.text_field :phone, :size => 30, :class => 'tip_phone', :style => "float:right;" %>
  </div>

  <div>
    <div class="upload_image" style="width:100%;height:162px;float:left;">
      <ul>
        <% if tip.image.exists? -%>
            <li><a href="#tip-<%=place.id%>-current-image"><span>current image</span></a></li>
        <% end -%>
        <li><a href="#tip-<%=place.id%>-upload-google"><span>google suggestions</span></a></li>
        <li><a href="#tip-<%=place.id%>-upload-drive"><span>upload image</span></a></li>
      </ul>
      <% if tip.image.exists? -%>
          <div id="tip-<%=place.id%>-current-image" style="padding:10px;">
              <%= image_tag tip.image.url(:thumb), :class => "full-image", :full_url => tip.image.url %>
          </div>
      <% end -%>
      <div id="tip-<%=place.id%>-upload-google" style="padding:10px;">
        <div class="google-image-choices"></div>
      </div>
      <div id="tip-<%=place.id%>-upload-drive" style="padding:10px;">
        <%= tip_form.label :image %><br/>
        <%= tip_form.file_field :image %>
      </div>

    </div>
  </div>
  </div>
</div>

<br/>



<% end %>

</div>
