<div class="edit-area">
  <%= form.hidden_field :id %>
  <div style="overflow: hidden; zoom: 1; height: 130px;">

  <div class="autosuggestions"></div>

  <div class="tip-edit-column tip-edit-column-1">
    <div class="input-row">
        <%= form.label :url %> <%= form.text_field :url, :size => 30, :class => 'tip_url', :maxlength => 100 %>
    </div>

    <div class="input-row">
    <% form.fields_for tip.address do |address_form| %>
        <%= address_form.label :address, 'Street Address' %>
        <%= address_form.text_field :address, :size => 30, :class => 'tip_address_street', :maxlength => 100 %>
        <%= address_form.hidden_field :lat, :class => 'tip_address_lat' %>
        <%= address_form.hidden_field :lng, :class => 'tip_address_lng' %>
    <% end %>
    </div>

    <div class="input-row">
        <%= form.label :phone %> <%= form.text_field :phone, :size => 30, :class => 'tip_phone', :maxlength => 100 %>
    </div>
  </div>

  <div class="tip-edit-column tip-edit-column-2">
    <%= form.label :description, 'Description, a reason to visit' %>
    <%= form.text_area(:description, :rows => 5, :cols => 46) %>
  </div>
  </div>

  <div class="image-selection-area">
    <div class="current-image">
      <span class="label">current image</span>

      <%= image_tag tip.image.url(:thumb), :class => "full-image", :full_url => tip.image.url, :width => 100, :height => 100 %>
    </div>
    <div class="upload-image">
      <span class="label">upload image</span>
      <!--
      <%= form.file_field :image, :size => 5 %>
      -->
    </div>
    <div class="google-suggestions">
      <span class="label">google suggestions</span>
      <div class="content"></div>
    </div>
  </div>

</div>
