<div class="edit-area">
  <%= form.hidden_field :id %>
  <% form.fields_for tip.attraction do |attraction_form| %>
      <%= attraction_form.hidden_field :lat, :class => 'tip_lat' %>
      <%= attraction_form.hidden_field :lng, :class => 'tip_lng' %>
      <%= attraction_form.hidden_field :identity_url, :class => 'tip_google_url' %>
  <% end %>


  <div class="row-1" style="overflow: hidden; zoom: 1; height: 130px;">

    <div class="autosuggestions"></div>

    <div class="tip-edit-column tip-edit-column-1">
      <div class="input-row">
        <%= form.text_field :url, :size => 30, :class => 'tip_url', :maxlength => 100, :autocomplete => "off" %>
        <%= form.label :url %>
      </div>

      <div class="input-row">
        <%= form.text_field :address, :size => 30, :class => 'tip_address', :maxlength => 100, :autocomplete => "off" %>
        <%= form.label :address, 'Street Address' %>
      </div>

      <div class="input-row">
        <%= form.text_field :phone, :size => 30, :class => 'tip_phone', :maxlength => 100, :autocomplete => "off" %>
        <%= form.label :phone %>
      </div>
    </div>

    <div class="tip-edit-column tip-edit-column-2">
      <%= form.label :description, 'Description, a reason to visit' %>
      <%= form.text_area(:description, :rows => 5, :cols => 46) %>
    </div>
  </div>

<!--
  <div class="image-selection-area">
    <div class="current-image">
      <span class="label">current image</span>

      <% if tip.image.file? %>
          <%= image_tag tip.image.url(:thumb), :class => "full-image", :full_url => tip.image.url %>
      <% else %>
          <div style="text-align:center;margin-top:20px;"> no image </div>
      <% end %>
      <br/>

      <label class="file-upload">
        <span class="label">upload image <br/>
          <span class="file-name"></span>
        </span>
        <%= form.file_field :image, :size => 5 %>
      </label>

    </div>
    <div class="google-suggestions">
      <span class="label">google suggestions</span>

      <div class="content"></div>
    </div>
  </div>
-->

  <%= render :partial => 'common/select_image', :locals => {:image => tip.image, :param_name => 'tip[image]'} %>

</div>
