<% guide = tip.calendar %>

<div class="edit-tip-tile" data-id="<%= tip.id %>" data-guide-id="<%= guide.id %>"
     data-day="<%= tip.day %>" data-condition-id="<%= tip.condition.id %>" data-rank="<%= tip.rank %>">
  <div class="view">
    <%= image_tag tip.image.url(:thumb), {:class => 'tip-icon', :align=>"left"} %>
    <%= h tip.name %>

    <!--<a class="delete-tip">x</a>-->
    <a class="move-tip icon-small" href="javascript:"></a>
    <a class="delete-tip icon-small" href="javascript:"></a>

  </div>

  <div class="tooltip-content">
    <%= render :partial => 'tips/tooltip_small', :locals => {:tip => tip} %>
  </div>



  <% form_for(tip, :url => "/guides/#{@guide.id}/tips/update", :html => {:method => "post", :style => "", :class => 'tip-form'}) do |form| %>
      <div class="edit-tip-root full">
        <div class="tip-name-area">
          <%= form.text_field :name, :size => 30, :class => 'tip-name', :title => "tip name", :maxlength => Tip::MAX_NAME_LENGTH %>
          <!--<button class="tip-update" type="button">Update</button>-->
          <button class="load-info" type="button">find contact and photos</button>

          <!--show no validation message for this field-->
          <span class="validation-error tip[name]_error" style="display:none;"></span>
        </div>


        <%= render :partial => 'tips/edit', :locals => {:tip => tip, :form => form} %>

        <button class="tip-update" type="button">Update</button>
      </div>
  <% end %>
</div>

