<% tip = place.tip %>


<b><%= tip.name %></b><br/>

<% if tip.image.exists? %>
  <%= image_tag tip.image.url(:medium), {:align=>"left"} %>
<% end %>
<br/>

<!--url-->
  <% if !tip.url.blank? %>
      web: <a href="/guides/<%= place.calendar.id %>/tips/<%= tip.id %>/url" target="_blank">
              <%= h shorten(tip.url, 35) %>
           </a><br>
  <% end %>

<!--phone-->
  <% if !tip.phone.blank? %>
      Phone: <%= h tip.phone%><br>
  <% end %>

<!--address-->
<% if !tip.address.address.blank? -%>
    Address: <%= h tip.address.address %>
    <br/>
<% end -%>

<!--map-->
<% if tip.address.lat != 0 %>
  <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%=tip.address.lat%>+<%=tip.address.lng%>&z=16" target="_blank">Directions and Map</a>:<br>
  <img src="http://maps.google.com/maps/api/staticmap?maptype=roadmap&format=gif&sensor=false&size=150x100&zoom=13&markers=<%=tip.address.lat%>,<%=tip.address.lng%>" width="150" height="100">
<% end %>


<!--description-->
<p>
  <%= h tip.description %>
</p>