<% tip = place.tip %>
<% calendar = place.calendar %>

<div id="tip_<%=place.id%>" class="tip-tile" tip_id="<%= tip.id %>" place_id="<%= place.id %>" calendar_id="<%= calendar.id %>" >
<div style="-moz-border-radius: 6px;-webkit-border-radius: 6px; border-radius: 6px; border: 1px solid lightgray; height:100px; margin: 2px; align:center;  background-image:url('<% if tip.image.exists? -%><%= tip.image.url(:medium) %> <% else -%>/images/Maps_google_map.gif <% end %>')"><BR><BR><BR><BR></div>    
  <!--top icons-->
  <div>

    <% if @full_access %>
        <!--delete tip-->
        <a class="delete-tip icon-small" title="delete"></a>
        <!--move tip-->
        <a class="move-tip icon-small" title="move"></a>
    <% end %>


    <% if @full_access %>
        <!--edit tip in overlay-->
        <!--link goes here-->
        <a style="float:right;margin-left:5px;" class="edit-tip textgray" rel="#tip_<%=place.id%> .edit-tip-overlay" href="/tips/<%=place.id%>/edit" title="edit">edit</a>

        <!--content goes here, do not touch-->
        <div class="edit-tip-overlay">

          <% form_tag("/guides/#{calendar.id}/tips/update", :method => "post", :id => "edit_tip_form_#{place.id}") do %>
          <div class="content"></div>
          <div align="center">
              <button type="button" onclick="tips.save_overlay('edit_tip_form_<%=place.id%>', <%=place.calendar.id%>);">
                save
              </button>
          </div>
          <% end %>


        </div>
    <% end %>



    <!--view full tip-->
    <!--link here-->
    <a style="float:right;margin-left:5px;" class="view-tip textgray" rel="#tip_<%=place.id%> .full-tip-overlay" href="/tips/<%=place.id%>" title="view">see</a>
    <div class="full-tip-overlay">
      <!--contents here-->
      <div class="content"></div>
    </div>


  </div>


  <!-- tip statistics -->
  <span class="headtextdarker"><b><%= h tip.name %></b><br/></span>
    <span class="textgraysmall">
      Views= <%= tip.view_count %>
      Clicks= <%= tip.click_count %>
    </span>
    

</div>
