<% tip = place.tip %>
<% calendar = place.calendar %>

<div id="tip_<%=place.id%>" class="tip-tile" tip_id="<%= tip.id %>" place_id="<%= place.id %>" calendar_id="<%= calendar.id %>">

  <% if @full_access %>
  <table width=100% align="right">
    <tr>
      <td>
        <!--move tip-->
        <div class="move-tip"></div>
      </td>
      <td width=20px>
        <!--delete tip-->
        <div class="delete-tip"></div>
      </td>
    </tr>
  </table>
  <% end %>

  <!--view full tip-->
  <!--link here-->
  <a class="view-tip textgray" rel="#tip_<%=place.id%> .full-tip-overlay" href="/tips/<%=place.id%>">view</a><br/>
  <div class="full-tip-overlay">
    <!--contents here-->
    <div class="content"></div>
  </div>


  <% if @full_access %>
      <!--edit tip in overlay-->
      <!--link goes here-->
      <a class="edit-tip textgray" rel="#tip_<%=place.id%> .edit-tip-overlay" href="/tips/<%=place.id%>/edit">edit</a><br/>

      <!--content goes here, do not touch-->
      <div class="edit-tip-overlay">

        <% form_tag("/guides/#{calendar.id}/tips/update", :method => "post", :id => "edit_tip_form_#{place.id}") do %>
        <div class="content"></div>
        <div align="center">
            <button type="button" onclick="tips.save_overlay('edit_tip_form_<%=place.id%>', <%=place.calendar.id%>);">
              save
            </button>
        </div>
        <% end %>


      </div>
  <% end %>


  <!-- tip statistics -->
  <span class="headtextdarker"><b><%= tip.name %></b><br/></span>
    <span class="textgray">
      Views= <%= tip.view_count %>
      Clicks= <%= tip.click_count %>
    </span>
</div>
