<div class="tip-tooltip">
  <h3><%= h tip.name %></h3>

  <div class="images">
  <div class="image">
    <% if tip.image_exists? %>
        <%= image_tag tip.image.url(:thumb), {:align=>"left"} %>
    <% else %>
        <h4>There's no image.</h4>
    <% end %>
  </div>

  <div class="map">
    <% if tip.address.lat != 0 %>
        <img src="http://maps.google.com/maps/api/staticmap?maptype=roadmap&amp;format=gif&amp;sensor=false&amp;size=100x100&amp;zoom=13&amp;markers=<%= tip.address.lat %>,<%= tip.address.lng %>"/>
    <% else %>
        <h4>There's no map.</h4>
    <% end %>
  </div>
  </div>

  <div class="details">
    <p>
      <%= h tip.description %>
    </p>

    <ul>
      <li><b>Address</b>: <%= !tip.address.address.blank? ? h(tip.address.address) : 'No address' %></li>
      <li><b>Phone</b>: <%= !tip.phone.blank? ? h(tip.phone) : 'No phone' %></li>
      <li><b>Website</b>: <%= !tip.url.blank? ? "<a href='#{h tip.url}' target='_blank'>#{h(shorten(tip.url, 25))}</a>" : 'No website' %></li>
    </ul>

  </div>


</div>