<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta name="description" content="<%= yield(:title) || "View, create and share highly targeted travel guides" %>"/>
  <meta name="keywords" content="travel, guides"/>
  <title>Guiderer: <%= yield(:title) || "View, create and share highly targeted travel guides" %></title>

  <link rel="image_src" href="/images/guiderer-logo.png"/>

  <!-- workaround for 'tick is not defined', ga error -->
  <script type="text/javascript">if (!tick) {
      var tick = function() {
      };
  }</script>

  <!-- Sets version for each changeable resource here -->
  <!-- Increment when put changed in production to make user's browsers reload resources -->
  <% resource_version = 43 %>

  <script src="http://www.google.com/jsapi" type="text/javascript"></script>

  <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>-->
  <!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>-->
  <link href="/stylesheets/ui-smoothness/jquery-ui-1.8.4.custom.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>

  <!--<script type="text/javascript" src="/jquery/jquery-1.4.2.min.js" ></script>-->
  <!--<script type="text/javascript" src="/jquery/jquery-ui-1.8.2.custom.min.js" ></script>-->

  <script type="text/javascript" src="/jquery/jquery.dataTables.min.js"></script>

  <script type="text/javascript" src="/public.js?_version=<%= resource_version %>" class="guiderer-script"></script>
  <script type="text/javascript" src="/javascripts/tips.js?_version=<%= resource_version %>"></script>
  <script type="text/javascript" src="/javascripts/guides.js?_version=<%= resource_version %>"></script>
  <script type="text/javascript" src="/javascripts/common.js?_version=<%= resource_version %>"></script>

  <script type="text/javascript" src="/jquery/jquery.watermarkinput.js"></script>
  <script type="text/javascript" src="/jquery/jquery.form.js"></script>
  <script type="text/javascript" src="/jquery/jquery.qtip-1.0.0-rc3.js"></script>
  <!--<script type="text/javascript" src="/jquery/jquery.qtip-1.0.min.js"></script>-->
  <script type="text/javascript" src="/jquery/openid-jquery.js"></script>

  <!-- 'tabs' plugin renamed to 'fpTabs' to avoid conflict with jqueryui 'tabs'. Be adviced if update library -->
  <script type="text/javascript" src="/jquery/jquery.tools.min.js"></script>

  <link href="/stylesheets/index.css?_version=<%= resource_version %>" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/demo_table.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/demo_page.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/demo_table_jui.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/css/openid.css" media="screen" rel="stylesheet" type="text/css"/>
  <!--<link href="/jquery/jquery.autocomplete.css" media="screen" rel="stylesheet" type="text/css"/>-->


  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18503518-1']);
      _gaq.push(['_setDomainName', '.guiderer.com']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>


<body>

<div id="content" style="width:<%= yield(:page_width) || 1020 %>px">

  <div id="header">
    <a href="/">
    <div class="logo"></div>
    </a>

    <div class="login">
      <% if @current_user %>
          Welcome,
          <%= link_to @current_user.name, show_user_path(:id => @current_user) %>
          (<%= format_number(@current_user.calendars.size, "guide") %>)

          | <%= link_to 'Sign out', logout_path %>
      <% else %>
          <%= link_to 'Sign in / Sign-up', :controller => :users, :action => :login %>
      <% end %>
    </div>

    <div class="links">
      <a href="/how-it-works">How <span class="hint">(1.2.3. booayab!)</span></a>
      |
      <a href="/faq">Why <span class="hint">(hint: $+Fame!)</span></a>
      |
      <a href="/guides/new" class="prominent">Create a Guide</a>
    </div>
  </div>



  <div id="main">
  <%= yield %>
  </div>

  <div id="footer">
    <div class="guiderer-for column">
      <h3>Guiderer for:</h3>
      <ul>
        <li>Hotels and Lodging</li>
        <li>Travel Agencies</li>
        <li>Personal Tour Guides</li>
        <li>Tourism Authorities</li>
      </ul>
    </div>
    <div class="column solution">
      <h3>Solution:</h3>
      <ul>
        <li><a href="/how-it-works">How does Guiderer work?</a></li>
        <li>Make money with Guiderer</li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>
    <div class="column us">
      <h3>US:</h3>
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/advertise">Advertise</a></li>
        <li><a href="/join-us">Join us</a></li>
        <li><a href="/about-us">About us</a></li>
      </ul>
    </div>

    <div class="logo"></div>
    <div class="copyright">@2011 Guiderer Inc. All rights reserved.</div>
    <div class="share"></div>
  </div>


  <!-- some content used from javascript -->
  <div id="dialog_box" style="display:none;">
  </div>

  <div id="global-loading-indicator" style="display:none;top:50%;left:50%;position:fixed;z-index:2147483640;width:100px;height:50px;">
    <img src="/images/loading-indicator.gif">
    <br/>
    <span></span>
  </div>


  <div class="hidden">
    <form id="fetch_remote_content_form"></form>
  </div>

  <div id="global-overlay"></div>

  <script type="text/javascript">
      var validation_errors = <%= @errors.nil? ? '{}' : @errors.to_json %>;
  </script>

</div>

</body>
</html>
